Repository slackapi/node-slack-sdk, pull requests merged in 2019-11, with the labels that each got.

#904 Implement view submission and view closed handling on @slack/interactive-messages
  docs/_packages/interactive_messages.md
  packages/interactive-messages/README.md
  packages/interactive-messages/src/adapter.spec.js
  packages/interactive-messages/src/adapter.ts
Labels: pkg:interactive-messages, semver:minor

#915 Add horizontal rule before web_api's Logging section docs for readability
  docs/_packages/web_api.md
Labels: docs

#917 Fix #916 Logger given to WebClient is destructively modified
  packages/web-api/src/WebClient.spec.js
  packages/web-api/src/WebClient.ts
Labels: bug, pkg:web-api
