Repository slackapi/node-slack-sdk, pull requests merged in 2020-04, with the labels that each got.

#980 Fix #979 Support radio_buttons block element in input block for TypeScript users
  packages/types/src/index.ts
Labels: area:typescript, pkg:types

#985 added global shortcut support to interactive-messages package
  docs/_packages/interactive_messages.md
  packages/interactive-messages/README.md
  packages/interactive-messages/src/adapter.spec.js
  packages/interactive-messages/src/adapter.ts
Labels: pkg:interactive-messages, semver:minor

#987 Fix #986 Missing code sample in interactive-messages docs
  docs/_packages/interactive_messages.md
Labels: docs, pkg:interactive-messages

#994 Fix #993 Support checkboxes block element in input block for TypeScript users.
  packages/types/src/index.ts
Labels: area:typescript, pkg:types

#999 added package prefix to logger name
  packages/rtm-api/src/logger.ts
  packages/web-api/src/logger.ts
Labels: pkg:rtm-api, pkg:web-api, semver:patch

#1003 Divided ViewUpdateArguments into 2 types
  packages/web-api/src/WebClient.ts
  packages/web-api/src/methods.ts
Labels: area:typescript, enhancement, pkg:types, pkg:web-api

#963 Added OAuth-helper package
  .gitignore
  docs/_packages/oauth.md
  docs/_packages/rtm_api.md
  docs/_packages/webhook.md
  examples/oauth-v1/README.md
  examples/oauth-v1/app.js
  examples/oauth-v1/package-lock.json
  examples/oauth-v1/package.json
  examples/oauth-v2/README.md
  examples/oauth-v2/app.js
  examples/oauth-v2/package-lock.json
  examples/oauth-v2/package.json
  packages/oauth/.gitignore
  packages/oauth/.mocharc.json
  packages/oauth/.nycrc.json
  packages/oauth/.vscode/launch.json
  packages/oauth/.vscode/settings.json
  packages/oauth/README.md
  packages/oauth/package.json
  packages/oauth/src/errors.ts
  packages/oauth/src/index.spec.js
  packages/oauth/src/index.ts
  packages/oauth/src/logger.ts
  packages/oauth/tsconfig.json
  packages/oauth/tslint.json
Labels: pkg:oauth-helper
