Repository slackapi/node-slack-sdk, pull requests merged in 2020-03, with the labels that each got.

#918 Add `types` field to `package.json`
  packages/events-api/package.json
Labels: pkg:events-api

#919 Add `types` field to `package.json`
  packages/interactive-messages/package.json
Labels: pkg:interactive-messages

#946 surface up error message from platform api calls
  packages/web-api/src/WebClient.spec.js
  packages/web-api/src/WebClient.ts
Labels: semver:patch
