Repository slackapi/node-slack-sdk, pull requests merged in 2020-06, with the labels that each got.

#1023 Fix #1022 by adding confirm.style (Block Kit composition object)
  packages/types/src/index.ts
Labels: area:typescript, pkg:types

#1030 Fix #1029 default_to_current_conversation in (multi_)conversations_select
  packages/types/src/index.ts
Labels: area:typescript, enhancement, pkg:types

#1026 added calls Api support
  packages/types/src/index.ts
  packages/web-api/src/WebClient.ts
  packages/web-api/src/methods.ts
Labels: pkg:types, pkg:web-api, semver:minor

#1036 Move method bindings from `WebClient.ts` to `methods.ts`
  packages/web-api/src/WebClient.spec.js
  packages/web-api/src/WebClient.ts
  packages/web-api/src/methods.ts
Labels: pkg:web-api, semver:patch

#1040 Change `paginate` return type to `AsyncIterable`
  integration-tests/types/webclient-paginate-types.ts
  packages/web-api/src/WebClient.ts
Labels: area:typescript, tests

#1042 Add error to WebClient's `Methods` superclass
  packages/web-api/src/WebClient.spec.js
  packages/web-api/src/methods.ts
Labels: pkg:web-api, semver:patch
