Repository slackapi/node-slack-sdk, pull requests merged in 2020-05, with the labels that each got.

#1011 improved oauth success user experience flow
  packages/oauth/README.md
  packages/oauth/src/index.ts
Labels: pkg:oauth, semver:patch

#1015 Add admin.usergroups.* APIs for Grid org admins
  packages/web-api/src/WebClient.spec.js
  packages/web-api/src/WebClient.ts
  packages/web-api/src/methods.ts
Labels: pkg:web-api, semver:minor

#1020 OAuth: fixed enterprise not being added to installation
  docs/_packages/oauth.md
  examples/oauth-v2/app.js
  packages/oauth/README.md
  packages/oauth/package.json
  packages/oauth/src/index.spec.js
  packages/oauth/src/index.ts
Labels: pkg:oauth, semver:minor
