Repository slackapi/node-slack-sdk, pull requests merged in 2020-07, with the labels that each got.

#1045 Add two methods endpoints
  packages/web-api/src/methods.ts
Labels: pkg:web-api

#1049 added four new web-api methods
  packages/web-api/src/methods.ts
Labels: enhancement, pkg:web-api, semver:minor

#1050 added whitelist depr. + generic deprecation method
  packages/web-api/src/WebClient.ts
Labels: pkg:web-api, semver:patch

#1059 Release: @slack/web-api@5.11.0
  packages/web-api/package.json
Labels: pkg:web-api

#1067 [Closes #1054] Add OAuth to the homepage and README.md
  README.md
  docs/_main/index.md
Labels: docs
