Repository slackapi/node-slack-sdk, pull requests merged in 2020-08, with the labels that each got.

#1070 check that headers are present before calling verifySignature
  packages/events-api/src/http-handler.spec.js
  packages/events-api/src/http-handler.ts
  packages/events-api/test/helpers.js
Labels: bug, semver:patch

#1072 Release: @slack/events-api@2.3.4 and @slack/types@1.8.0
  packages/events-api/package.json
  packages/types/package.json
Labels: pkg:events-api, pkg:types

#1073 Updated release process in maintainers guide & added beta release process
  .github/maintainers_guide.md
Labels: docs

#1077 Update what versions of Node are tested on CI
  .travis.yml
Labels: tests

#1065 Convert types tests to use `tsd`
  integration-tests/package.json
  integration-tests/types/index.d.ts
  integration-tests/types/tsconfig.json
  integration-tests/types/webclient-named-method-types.ts
  integration-tests/types/webclient-no-token.ts
  integration-tests/types/webclient-paginate-types.ts
  packages/web-api/package.json
  packages/web-api/test/types/webclient-named-method-types.test-d.ts
  packages/web-api/test/types/webclient-no-token.test-d.ts
  packages/web-api/test/types/webclient-paginate-types.test-d.ts
Labels: tests

#1081 added clientOptions and authorizationUrl
  packages/oauth/package.json
  packages/oauth/src/index.spec.js
  packages/oauth/src/index.ts
  packages/web-api/package.json
Labels: enhancement, pkg:oauth, pkg:web-api, semver:minor, semver:patch

#1084 Publish @slack/oauth@1.2.0
  packages/oauth/package.json
Labels: pkg:oauth

#1087 Update Maintainer Guide's Beta Release section
  .github/maintainers_guide.md
Labels: docs
