Repository slackapi/node-slack-sdk, pull requests merged in 2020-10, with the labels that each got.

#1098 Add apps.uninstall method
  packages/web-api/src/methods.ts
Labels: enhancement, pkg:web-api, semver:minor

#1089 InstallProviderOptions authVersion as optional
  docs/_packages/oauth.md
  packages/oauth/src/index.ts
Labels: area:typescript, bug, docs

#1099 adding new api methods
  packages/web-api/src/methods.ts
Labels: enhancement, semver:minor

#1102 added new dispatch-action flag to input blocks
  packages/types/src/index.ts
Labels: area:typescript, enhancement

#1105 added user_id to oauth v1 responses
  packages/oauth/src/index.ts
Labels: pkg:oauth, semver:minor

#1109 added dispatch_action_config to PlainTextInput
  packages/types/src/index.ts
Labels: semver:minor

#1110 Release: @slack/oauth@1.3.0, @slack/types@1.10.0, @slack/web-api@5.13.0
  packages/oauth/package.json
  packages/types/package.json
  packages/web-api/package.json
Labels: pkg:oauth, pkg:types, pkg:web-api

#1111 Added admin.users.session.list method
  packages/web-api/src/methods.ts
Labels: pkg:web-api, semver:minor
