Repository slackapi/node-slack-sdk, pull requests merged in 2020-11, with the labels that each got.

#1046 Adding support for org installations to oauth library
  docs/_packages/oauth.md
  examples/oauth-v1/app.js
  examples/oauth-v2/app.js
  examples/oauth-v2/package.json
  node-slack-sdk.code-workspace
  packages/oauth/README.md
  packages/oauth/package.json
  packages/oauth/src/index.spec.js
  packages/oauth/src/index.ts
  packages/web-api/src/WebClient.spec.js
  packages/web-api/src/WebClient.ts
  packages/web-api/src/methods.ts
  support/integration-tests/.gitignore
Labels: enhancement, semver:minor

#1116 Update ViewsUpdateArguments to accommodate external_id and view_id
  packages/web-api/src/methods.ts
Labels: area:typescript, enhancement, pkg:types, pkg:web-api

#1123 Release: @slack/oauth@1.4.0, @slack/web-api@5.14.0
  packages/oauth/package.json
  packages/web-api/package.json
Labels: pkg:oauth, pkg:web-api
