Repository slackapi/node-slack-sdk, pull requests merged in 2021-01, with the labels that each got.

#1139 added auth.teams.list method
  packages/web-api/src/methods.ts
Labels: pkg:web-api, semver:patch

#1140 Update axios on webhook package
  packages/webhook/package.json
Labels: pkg:webhook, security

#1143 Publish @slack/web-api@5.15.0 & @slack/webhook@5.0.4
  packages/web-api/package.json
  packages/webhook/package.json
Labels: pkg:web-api, pkg:webhook

#1144 updated axios dependency for interactive-messages
  examples/express-all-interactions/package.json
  examples/oauth-v1/package-lock.json
  examples/oauth-v2/package-lock.json
  packages/interactive-messages/package.json
Labels: pkg:interactive-messages

#1145 Publish @slack/interactive-messages@1.7.1
  packages/interactive-messages/package.json
Labels: pkg:interactive-messages

#1147 updated minimum node to 12.13.0, updated minimum typescript to 4.1
  packages/events-api/package.json
  packages/events-api/src/verify.ts
  packages/interactive-messages/package.json
  packages/logger/package.json
  packages/oauth/package.json
  packages/rtm-api/package.json
  packages/rtm-api/src/RTMClient.ts
  packages/types/package.json
  packages/web-api/package.json
  packages/web-api/src/helpers.ts
  packages/web-api/src/methods.ts
  packages/webhook/package.json
Labels: semver:major

#1148 removed storeOrgInstallion and fetchOrgInstallation from Installation…
  docs/_packages/oauth.md
  examples/oauth-v2/app.js
  packages/oauth/README.md
  packages/oauth/src/index.spec.js
  packages/oauth/src/index.ts
Labels: enhancement, pkg:oauth, semver:major

#1096 Added new @slack/socket-mode package
  .github/maintainers_guide.md
  docs/_packages/socket_mode.md
  examples/socket-mode/app.js
  examples/socket-mode/package-lock.json
  examples/socket-mode/package.json
  packages/socket-mode/.gitignore
  packages/socket-mode/.vscode/settings.json
  packages/socket-mode/README.md
  packages/socket-mode/package.json
  packages/socket-mode/src/SocketModeClient.ts
  packages/socket-mode/src/errors.ts
  packages/socket-mode/src/index.ts
  packages/socket-mode/src/logger.ts
  packages/socket-mode/tsconfig.json
  packages/socket-mode/tslint.json
  packages/socket-mode/types/.gitkeep
  packages/web-api/src/methods.ts
Labels: enhancement

#1154 Migration guide for v6
  docs/_tutorials/migrating_to_v6.md
Labels: docs

#1155 Releasing major version of all packages
  docs/_tutorials/migrating_to_v6.md
  examples/socket-mode/package-lock.json
  packages/events-api/package.json
  packages/interactive-messages/package.json
  packages/logger/package.json
  packages/oauth/package.json
  packages/rtm-api/package.json
  packages/socket-mode/package.json
  packages/types/package.json
  packages/web-api/package.json
  packages/webhook/package.json
Labels: semver:major

#1160 Fix broken url caused by typo
  docs/_packages/web_api.md
Labels: docs

#1157 Add "@slack/socket-mode" to packages list
  .github/issue_template.md
Labels: docs

#1161 fixed #1156, socketMode error not being properly thrown
  packages/socket-mode/package.json
  packages/socket-mode/src/SocketModeClient.ts
Labels: bug

#1162 [socket-mode] Pass an agent to WebSocket in a proper way
  packages/socket-mode/src/SocketModeClient.ts
Labels: bug, pkg:socket-mode, semver:patch

#1163 fixed #1158, user scopes only oauth issue
  packages/oauth/src/index.ts
Labels: bug, semver:minor

#1164 Publish
  packages/oauth/package.json
  packages/socket-mode/package.json
Labels: pkg:oauth, pkg:socket-mode, release
