Repository slackapi/node-slack-sdk, pull requests merged in 2021-05, with the labels that each got.

#1226 Add Timepicker to @slack/types
  packages/types/src/index.ts
Labels: enhancement, pkg:types, semver:minor

#1222 Add missing API methods
  packages/web-api/src/methods.ts
  packages/web-api/src/response/AdminAppsUninstallResponse.ts
  packages/web-api/src/response/AdminConversationsSearchResponse.ts
  packages/web-api/src/response/UsersInfoResponse.ts
  packages/web-api/src/response/index.ts
Labels: enhancement, pkg:web-api, semver:minor

#1223 Warn logging if thread_ts is not a string
  packages/web-api/src/WebClient.spec.js
  packages/web-api/src/WebClient.ts
Labels: enhancement, pkg:web-api, semver:minor

#1220 Added exclusion logic for Electron based apps to prevent changing User-Agent header
  packages/web-api/package.json
  packages/web-api/src/WebClient.ts
Labels: enhancement, pkg:web-api, semver:patch

#1229 Fix #1221 Update "Using TypeScript" document page when releasing web-api v6.2
  docs/_main/typescript.md
Labels: area:typescript, docs, pkg:web-api, semver:minor

#1232 Enable accessing all response types from @slack/web-api
  packages/web-api/src/index.ts
Labels: area:typescript, enhancement, pkg:web-api, semver:patch

#1234 Update apps.connections.open API response type in SocketModeClient
  packages/socket-mode/package.json
  packages/socket-mode/src/SocketModeClient.ts
Labels: area:typescript, enhancement, pkg:socket-mode

#1236 Fix #1235 ViewsOpenResponse type is incorrect
  packages/web-api/src/response/ChatScheduleMessageResponse.ts
  packages/web-api/src/response/ChatUpdateResponse.ts
  packages/web-api/src/response/ConversationsHistoryResponse.ts
  packages/web-api/src/response/ConversationsOpenResponse.ts
  packages/web-api/src/response/DialogOpenResponse.ts
  packages/web-api/src/response/MigrationExchangeResponse.ts
  packages/web-api/src/response/ReactionsListResponse.ts
  packages/web-api/src/response/SearchAllResponse.ts
  packages/web-api/src/response/SearchMessagesResponse.ts
  packages/web-api/src/response/StarsListResponse.ts
  packages/web-api/src/response/UsersGetPresenceResponse.ts
  packages/web-api/src/response/UsersIdentityResponse.ts
  packages/web-api/src/response/ViewsOpenResponse.ts
  packages/web-api/src/response/ViewsPublishResponse.ts
  packages/web-api/src/response/ViewsPushResponse.ts
  packages/web-api/src/response/ViewsUpdateResponse.ts
Labels: area:typescript, enhancement, pkg:web-api, semver:patch

#1238 Update the web-api response types (2021-05-18 PT)
  packages/web-api/src/response/ChatScheduleMessageResponse.ts
  packages/web-api/src/response/ChatScheduledMessagesListResponse.ts
Labels: area:typescript, enhancement, pkg:web-api, semver:patch

#1242 Fix #1240 by enabling to pass integer as post_at in chat.scheduleMessage API calls
  packages/web-api/src/methods.ts
  packages/web-api/test/types/webclient-named-method-types.test-d.ts
  prod-server-integration-tests/test/web-api.js
Labels: area:typescript, bug, pkg:web-api, semver:patch

#1246 Fix an error in RTM client doc
  docs/_packages/rtm_api.md
Labels: docs, pkg:rtm-api

#1247 Update the web-api response types (2021-05-25 PT)
  packages/web-api/src/response/AdminConversationsSearchResponse.ts
  packages/web-api/src/response/FilesUploadResponse.ts
  packages/web-api/src/response/RemindersListResponse.ts
  packages/web-api/src/response/StarsListResponse.ts
Labels: area:typescript, pkg:web-api
