Repository slackapi/node-slack-sdk, pull requests merged in 2021-04, with the labels that each got.

#1200 Add integration tests with real Slack servers
  .github/maintainers_guide.md
  prod-server-integration-tests/.gitignore
  prod-server-integration-tests/README.md
  prod-server-integration-tests/link.sh
  prod-server-integration-tests/package.json
  prod-server-integration-tests/scripts/admin/usersSessionSettings.js
  prod-server-integration-tests/scripts/api_test.js
  prod-server-integration-tests/scripts/auth_test.js
  prod-server-integration-tests/scripts/pagination.js
  prod-server-integration-tests/scripts/socket-mode.js
  prod-server-integration-tests/test/admin-web-api.js
  prod-server-integration-tests/test/web-api.js
Labels: tests

#1203 Update the web-api responses (2021-04-08 PT)
  packages/web-api/src/response/AdminUsersListResponse.ts
  packages/web-api/src/response/ReactionsListResponse.ts
  packages/web-api/src/response/UsergroupsCreateResponse.ts
  packages/web-api/src/response/UsergroupsEnableResponse.ts
  packages/web-api/src/response/UsergroupsUpdateResponse.ts
Labels: enhancement, pkg:web-api

#1204 Add a unit test verifying #1037 is no longer an issue
  packages/web-api/src/WebClient.spec.js
Labels: pkg:web-api, tests

#1206 Pass logger through to WebClient and fix broken logLevel warning
  packages/oauth/src/index.ts
  packages/socket-mode/src/SocketModeClient.ts
  packages/web-api/src/WebClient.ts
Labels: bug, pkg:logger

#1208 Resolve inconsistent package dependencies across slack packages
  packages/oauth/package.json
  packages/web-api/package.json
Labels: bug, pkg:oauth, pkg:web-api

#1209 Add a few missing ones and types to WebClient arguments
  packages/web-api/src/methods.ts
Labels: area:typescript, bug, pkg:web-api, semver:minor

#1210 Publish @slack/web-api@6.2.0-rc.0
  packages/web-api/package.json
Labels: pkg:web-api, release, semver:minor

#1217 Update the minimum Node version in the documents
  docs/_main/index.md
  docs/_packages/oauth.md
Labels: bug, docs

#1215 Update the web-api responses (2021-04-23 PT)
  packages/web-api/src/response/ConversationsCloseResponse.ts
  packages/web-api/src/response/ConversationsInfoResponse.ts
  packages/web-api/src/response/ConversationsOpenResponse.ts
  packages/web-api/src/response/SearchAllResponse.ts
  packages/web-api/src/response/SearchMessagesResponse.ts
Labels: enhancement, pkg:web-api
