Repository slackapi/node-slack-sdk, pull requests merged in 2021-11, with the labels that each got.

#1368 NPM Audit fix: https://github.com/advisories/GHSA-cph5-m8f7-6c5x
  examples/express-all-interactions/package.json
  packages/interactive-messages/package.json
  packages/webhook/package.json
Labels: pkg:webhook, area:examples

#1369 Fixes #1334: rewrote admin.usergroups and admin.inviteRequests tests
  packages/web-api/.gitignore
  packages/web-api/package-lock.json
  packages/web-api/package.json
  packages/web-api/src/WebClient.spec.js
  packages/web-api/src/WebClient.ts
Labels: tests

#1371 Add admin.users.session.resetBulk API support
  packages/web-api/src/methods.ts
  packages/web-api/src/response/AdminUsersSessionResetBulkResponse.ts
  packages/web-api/src/response/index.ts
  prod-server-integration-tests/test/admin-web-api-user-sessions.js
Labels: enhancement, pkg:web-api

#1372 Adding basic documentation to go along with the openid-connect example
  docs/_packages/oauth.md
  docs/_packages/web_api.md
Labels: docs

#1373 Remove invalid arguments from oauth.v2.exchange API method
  packages/web-api/src/methods.ts
Labels: bug, area:typescript, pkg:web-api

#1374 Disable typescript-eslint/no-explicit-any in internal code of web-api
  packages/web-api/src/WebClient.ts
  packages/web-api/src/errors.ts
  packages/web-api/src/methods.ts
Labels: area:typescript, pkg:web-api

#1375 Publish @slack/web-api@6.5.0
  packages/web-api/package.json
Labels: pkg:web-api, release

#1377 Update the web-api response types
  .gitignore
  packages/web-api/src/response/UsersListResponse.ts
Labels: enhancement, pkg:web-api

#1381 Publish 6.5.1
  packages/web-api/package.json
Labels: release

#1383 Adding basic notes around deno usage
  README.md
  packages/web-api/README.md
Labels: docs, pkg:web-api

#1384 Tweaking user-agent instrumentation for deno compatibility
  packages/web-api/package.json
  packages/web-api/src/instrument.ts
Labels: enhancement, pkg:web-api

#1388 Add git stale action
  .github/workflows/triage-issues.yml
Labels: enhancement

#1386 Add focus_on_load property to views.* API responses
  packages/web-api/src/response/AdminTeamsSettingsInfoResponse.ts
  packages/web-api/src/response/ChatScheduleMessageResponse.ts
  packages/web-api/src/response/ChatUpdateResponse.ts
  packages/web-api/src/response/ConversationsHistoryResponse.ts
  packages/web-api/src/response/ConversationsOpenResponse.ts
  packages/web-api/src/response/ConversationsRepliesResponse.ts
  packages/web-api/src/response/ReactionsListResponse.ts
  packages/web-api/src/response/SearchAllResponse.ts
  packages/web-api/src/response/SearchMessagesResponse.ts
  packages/web-api/src/response/StarsListResponse.ts
  packages/web-api/src/response/TeamInfoResponse.ts
  packages/web-api/src/response/ViewsOpenResponse.ts
  packages/web-api/src/response/ViewsPublishResponse.ts
  packages/web-api/src/response/ViewsPushResponse.ts
  packages/web-api/src/response/ViewsUpdateResponse.ts
Labels: enhancement, area:typescript, pkg:web-api

#1387 Add focus_on_load to the block element types
  packages/types/src/index.ts
Labels: enhancement, area:typescript, pkg:types
