Repository slackapi/node-slack-sdk, pull requests merged in 2021-09, with the labels that each got.

#1328 Fix failing tests by locking to axios v0.21.1
  packages/web-api/package.json
Labels: tests

#1332 Adding package-lock.json for the web-api package
  packages/web-api/.gitignore
  packages/web-api/package-lock.json
Labels: pkg:web-api, release

#1331 Disable running tests for deprecated packages in CI
  lerna.json
Labels: tests

#1337 Move token sending to authorization header instead of body parameter
  packages/web-api/src/WebClient.spec.js
  packages/web-api/src/WebClient.ts
Labels: enhancement, pkg:web-api

#1329 Add optional InstallProvider#stateValidation flag
  packages/oauth/src/errors.ts
  packages/oauth/src/index.spec.js
  packages/oauth/src/index.ts
Labels: enhancement, pkg:oauth

#1341 Add new properties to web-api responses (2021-09-20)
  packages/web-api/src/response/ConversationsJoinResponse.ts
  packages/web-api/src/response/UsersInfoResponse.ts
  packages/web-api/src/response/UsersLookupByEmailResponse.ts
  packages/web-api/src/response/UsersProfileGetResponse.ts
  packages/web-api/src/response/UsersProfileSetResponse.ts
Labels: enhancement, pkg:web-api

#1343 Release: @slack/oauth@2.3.0
  packages/oauth/package.json
Labels: release

#1338 Add stateVerification option to documentation
  docs/_packages/oauth.md
Labels: docs

#1347 Update issue templates
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/document.md
  .github/ISSUE_TEMPLATE/enhancement---feature-request.md
  .github/ISSUE_TEMPLATE/question.md
Labels: docs

#1350 Fix #1349: Export Individual View Interfaces
  packages/types/src/index.ts
Labels: bug, pkg:types
