Repository slackapi/node-slack-sdk, pull requests merged in 2021-06, with the labels that each got.

#1252 Changed type of created on UsersConversationsResponse
  packages/web-api/src/response/UsersConversationsResponse.ts
Labels: area:typescript, bug, pkg:web-api, semver:patch

#1254 Update the web-api response types (2021-06-02 PT)
  packages/web-api/src/response/ConversationsOpenResponse.ts
  packages/web-api/src/response/FilesListResponse.ts
  packages/web-api/src/response/SearchAllResponse.ts
  packages/web-api/src/response/SearchFilesResponse.ts
  packages/web-api/src/response/UsersConversationsResponse.ts
Labels: pkg:web-api, semver:patch

#1239 Publish @slack/socket-mode@1.1.0
  packages/socket-mode/package.json
Labels: area:typescript, pkg:socket-mode, release, semver:minor

#1255 Publish @slack/web-api@6.2.4
  packages/web-api/package.json
Labels: pkg:web-api, release, semver:patch

#1257 Publish @slack/oauth@2.1.0
  packages/oauth/package.json
Labels: pkg:oauth, release, semver:minor

#1258 Update README + docs with deprecation notice
  README.md
  docs/_main/index.md
  docs/_packages/events_api.md
  docs/_packages/interactive_messages.md
  packages/events-api/README.md
  packages/interactive-messages/README.md
Labels: docs

#1260 Publish @slack/types@2.1.0
  packages/types/package.json
Labels: area:typescript, pkg:types, release, semver:minor

#1262 Publish @slack/events-api@3.0.1 and @slack/interactive-messages@2.0.2
  packages/events-api/package.json
  packages/interactive-messages/package.json
Labels: pkg:events-api (deprecated), pkg:interactive-messages (deprecated), release

#1263 Update the releasing operation to have the step to maintain GitHub milestones
  .github/maintainers_guide.md
Labels: pkg:logger, pkg:oauth, pkg:rtm-api, pkg:socket-mode, pkg:types, pkg:web-api, pkg:webhook, release

#1264 Fix #1250: Add Support for Axios timeout Customization
  packages/web-api/src/WebClient.spec.js
  packages/web-api/src/WebClient.ts
Labels: enhancement, pkg:web-api

#1265 Update Maintainer's Guide
  .github/maintainers_guide.md
Labels: docs

#1269 Add more tests to logger package (#804 revamp)
  packages/logger/.nycrc.json
  packages/logger/package.json
  packages/logger/src/index.spec.js
Labels: pkg:logger, tests

#1272 Add support for deletion of an installation (InstallationStore / MemoryInstallationStore)
  examples/oauth-v2/app.js
  packages/oauth/README.md
  packages/oauth/src/index.spec.js
  packages/oauth/src/index.ts
Labels: enhancement, pkg:oauth

#1273 Make deleteInstallation optional
  packages/oauth/src/index.ts
Labels: bug, pkg:oauth, semver:minor

#1270 Split `Option` into `PlainTextOption` and `MrkdwnOption` to account for menus that do not allow markdown
  packages/types/src/index.ts
Labels: enhancement, pkg:types, semver:minor
