Repository slackapi/node-slack-sdk, pull requests merged in 2021-02, with the labels that each got.

#1167 Fix typo
  examples/oauth-v2/app.js
Labels: area:examples, docs, pkg:oauth

#1169 Attempt to fix flaky tests based on delayed promises
  packages/interactive-messages/src/adapter.spec.js
  packages/interactive-messages/test/helpers.js
Labels: tests

#1168 Standardize fetchInstallation to use installQuery as argument
  docs/_tutorials/migrating_to_v6.md
  examples/oauth-v2/app.js
  packages/oauth/src/index.spec.js
Labels: enhancement, semver:patch

#1174 Add new `user_auth_blocks` property to chat.unfurl
  packages/web-api/src/methods.ts
Labels: enhancement, pkg:web-api

#1176 Fix errors in SocketModeClient documents
  docs/_packages/socket_mode.md
Labels: bug, docs, pkg:socket-mode

#1177 fix slackInteractions.shortcut parameter docs.
  docs/_packages/interactive_messages.md
  packages/interactive-messages/README.md
Labels: bug, docs, pkg:interactive-messages

#1175 SocketModeClient: Add useful debug logging for trouble shooting
  packages/socket-mode/src/SocketModeClient.ts
Labels: enhancement, pkg:socket-mode

#1178 Update SocketModeClient document more; in addition to #1176
  docs/_packages/socket_mode.md
Labels: bug, docs, pkg:socket-mode

#1181 Clear timer if input promise resolves before time runs out
  packages/interactive-messages/src/util.spec.js
  packages/interactive-messages/src/util.ts
Labels: bug, pkg:interactive-messages
