Repository slackapi/node-slack-sdk, pull requests merged in 2021-12, with the labels that each got.

#1389 Publish: @slack/types@2.3.0
  packages/types/package.json
Labels: pkg:types

#1392 Add external_id to WorkflowStepView
  packages/types/src/index.ts
Labels: enhancement, area:typescript

#1393 Release:@slack/types@2.4.0
  packages/types/package.json
Labels: release

#1394 (#1378) adding option for custom axios timeout
  packages/webhook/src/IncomingWebhook.spec.js
  packages/webhook/src/IncomingWebhook.ts
Labels: enhancement, pkg:webhook

#1398 Fix #1397 Add missing properties in conversation.list API response
  packages/web-api/src/response/ChatScheduleMessageResponse.ts
  packages/web-api/src/response/ChatUpdateResponse.ts
  packages/web-api/src/response/ConversationsHistoryResponse.ts
  packages/web-api/src/response/ConversationsListResponse.ts
  packages/web-api/src/response/ConversationsOpenResponse.ts
  packages/web-api/src/response/ConversationsRepliesResponse.ts
  packages/web-api/src/response/SearchAllResponse.ts
  packages/web-api/src/response/SearchMessagesResponse.ts
Labels: bug, area:typescript, pkg:web-api

#1402 Publish @slack/types@2.4.0-hermesBeta.1
  packages/types/package.json
Labels: release

#1403 Update the web-api response types with the latest data source
  packages/web-api/src/response/ChatUpdateResponse.ts
  packages/web-api/src/response/ConversationsHistoryResponse.ts
  packages/web-api/src/response/SearchAllResponse.ts
  packages/web-api/src/response/SearchMessagesResponse.ts
Labels: enhancement, area:typescript, pkg:web-api

#1404 Publish
  packages/web-api/package.json
Labels: release

#1405 Update the web-api response types with the latest data source
  packages/web-api/src/response/ConversationsHistoryResponse.ts
  packages/web-api/src/response/ConversationsRepliesResponse.ts
  packages/web-api/src/response/SearchAllResponse.ts
Labels: area:typescript, pkg:web-api
