Repository slackapi/node-slack-sdk, pull requests merged in 2021-08, with the labels that each got.

#1300 Tweaking getting started docs to reflect changes in app setup UI on the application configuration pages
  docs/_main/getting_started.md
Labels: docs

#1301 Fix #1296 Add "Sign in with Slack (OpenID Connect)" support
  .gitignore
  examples/openid-connect/README.md
  examples/openid-connect/app.js
  examples/openid-connect/app_manifest.yml
  examples/openid-connect/link.sh
  examples/openid-connect/package.json
  packages/web-api/package.json
  packages/web-api/src/methods.ts
  packages/web-api/src/response/ConversationsHistoryResponse.ts
  packages/web-api/src/response/DndSetSnoozeResponse.ts
  packages/web-api/src/response/FilesInfoResponse.ts
  packages/web-api/src/response/FilesListResponse.ts
  packages/web-api/src/response/FilesRemoteAddResponse.ts
  packages/web-api/src/response/FilesRemoteInfoResponse.ts
  packages/web-api/src/response/FilesRemoteListResponse.ts
  packages/web-api/src/response/FilesRemoteShareResponse.ts
  packages/web-api/src/response/FilesRemoteUpdateResponse.ts
  packages/web-api/src/response/FilesRevokePublicURLResponse.ts
  packages/web-api/src/response/FilesSharedPublicURLResponse.ts
  packages/web-api/src/response/FilesUploadResponse.ts
  packages/web-api/src/response/OpenIDConnectTokenResponse.ts
  packages/web-api/src/response/OpenIDConnectUserInfoResponse.ts
  packages/web-api/src/response/SearchAllResponse.ts
  packages/web-api/src/response/SearchFilesResponse.ts
  packages/web-api/src/response/SearchMessagesResponse.ts
  packages/web-api/src/response/StarsListResponse.ts
  packages/web-api/src/response/UsersInfoResponse.ts
  packages/web-api/src/response/index.ts
  scripts/code_generator.rb
Labels: enhancement, pkg:web-api

#1303 Fix #1294 by adding "private" property in shares in files API responses
  packages/web-api/src/response/FilesInfoResponse.ts
  packages/web-api/src/response/FilesUploadResponse.ts
Labels: bug, area:typescript, pkg:web-api

#1306 Adds tests for Slack Connect APIs
  prod-server-integration-tests/test/web-api.js
Labels: semver:minor, tests, pkg:web-api

#1307 Add Slack Connect API response types to #1284 (#1283)
  packages/web-api/src/methods.ts
  packages/web-api/src/response/ConversationsAcceptSharedInviteResponse.ts
  packages/web-api/src/response/ConversationsApproveSharedInviteResponse.ts
  packages/web-api/src/response/ConversationsDeclineSharedInviteResponse.ts
  packages/web-api/src/response/ConversationsInviteSharedResponse.ts
  packages/web-api/src/response/ConversationsListConnectInvitesResponse.ts
  packages/web-api/src/response/index.ts
Labels: area:typescript, pkg:web-api

#1312 Fix #1214 by adding more info in the ratelimited error exception message
  packages/web-api/src/WebClient.ts
Labels: enhancement, pkg:web-api

#1276 Split up View type to improve TS linting
  packages/types/src/index.ts
Labels: enhancement, area:typescript, pkg:types

#1310 Add Sign in with Slack (legacy) example app
  examples/legacy-sign-in-with-slack/app.js
  examples/legacy-sign-in-with-slack/app_manifest.yml
  examples/legacy-sign-in-with-slack/link.sh
  examples/legacy-sign-in-with-slack/package.json
Labels: docs, pkg:web-api, pkg:oauth

#1313 Publish
  packages/types/package.json
Labels: release

#1322 Fix #1251 Upgrade the minimum version of "ws" package
  packages/rtm-api/package.json
  packages/socket-mode/package.json
Labels: semver:patch, pkg:rtm-api, pkg:socket-mode

#1324 Add API response type updates that should have been included in PR #1320
  packages/web-api/src/response/ChatUpdateResponse.ts
  packages/web-api/src/response/ConversationsHistoryResponse.ts
  packages/web-api/src/response/FilesRemoteAddResponse.ts
  packages/web-api/src/response/FilesRemoteInfoResponse.ts
  packages/web-api/src/response/FilesRemoteListResponse.ts
  packages/web-api/src/response/FilesRemoteShareResponse.ts
  packages/web-api/src/response/FilesRemoteUpdateResponse.ts
  packages/web-api/src/response/FilesRevokePublicURLResponse.ts
  packages/web-api/src/response/FilesSharedPublicURLResponse.ts
  packages/web-api/src/response/PinsListResponse.ts
  packages/web-api/src/response/ReactionsListResponse.ts
  packages/web-api/src/response/SearchAllResponse.ts
  packages/web-api/src/response/SearchMessagesResponse.ts
  packages/web-api/src/response/StarsListResponse.ts
Labels: semver:patch, area:typescript, pkg:web-api

#1321 Fix #1302 Invalid JSON string causing "Cannot create property 'response_metadata' on string" error
  packages/web-api/src/WebClient.spec.js
  packages/web-api/src/WebClient.ts
Labels: bug, semver:patch, pkg:web-api
