Repository slackapi/node-slack-sdk, pull requests merged in 2021-07, with the labels that each got.

#1277 Fixed `PinsAddArguments` and `PinsRemoveArguments` interface
  packages/web-api/src/methods.ts
Labels: bug, pkg:web-api, semver:minor

#1249 Add Node 16.x to CI
  .github/workflows/ci-build.yml
  packages/events-api/src/adapter.ts
  packages/events-api/src/verify.ts
  packages/interactive-messages/src/adapter.spec.js
  packages/interactive-messages/src/adapter.ts
  packages/rtm-api/src/RTMClient.ts
  packages/socket-mode/src/SocketModeClient.ts
  packages/web-api/src/WebClient.spec.js
  packages/web-api/src/WebClient.ts
Labels: pkg:logger, pkg:oauth, pkg:rtm-api, pkg:socket-mode, pkg:types, pkg:web-api, pkg:webhook, tests

#1284 Fix #1283 - Add conversations (slack connect) and admin.auth.policy API methods
  packages/web-api/src/methods.ts
  packages/web-api/src/response/AdminAuthPolicyAssignEntitiesResponse.ts
  packages/web-api/src/response/AdminAuthPolicyGetEntitiesResponse.ts
  packages/web-api/src/response/AdminAuthPolicyRemoveEntitiesResponse.ts
  packages/web-api/src/response/SearchAllResponse.ts
  packages/web-api/src/response/SearchMessagesResponse.ts
  packages/web-api/src/response/index.ts
  prod-server-integration-tests/test/admin-web-api.js
Labels: enhancement, pkg:web-api, semver:minor

#1286 Minor test fix for #1284
  prod-server-integration-tests/test/admin-web-api.js
Labels: semver:minor, tests

#1279 Add Support for FileInstallationStore
  docs/_packages/oauth.md
  packages/oauth/README.md
  packages/oauth/src/index.spec.js
  packages/oauth/src/index.ts
  packages/oauth/src/stores/file-store.ts
  packages/oauth/src/stores/index.ts
  packages/oauth/src/stores/memory-store.ts
Labels: enhancement, pkg:oauth, semver:minor

#1289 Fix lint errors in oauth package
  packages/oauth/src/stores/file-store.ts
Labels: bug, pkg:oauth

#1288 Make FileStoreInstallation installation directory creation synchronous
  packages/oauth/src/stores/file-store.ts
Labels: bug, pkg:oauth

#1290 Release: @slack/web-api@6.3.0 and @slack/oauth@2.2.0
  packages/oauth/package.json
  packages/web-api/package.json
Labels: pkg:oauth, pkg:web-api, release

#1298 fixed #1297 by adding new optional fields to admin.users.invite endpoint
  packages/web-api/src/methods.ts
Labels: semver:minor
