Repository slackapi/node-slack-sdk, pull requests merged in 2021-03, with the labels that each got.

#1187 Fix #1185 Add state metadata to Installation interface
  packages/oauth/src/index.ts
Labels: enhancement, pkg:oauth

#1189 Fix misspelled words
  packages/events-api/src/http-handler.ts
  packages/socket-mode/src/SocketModeClient.ts
  packages/types/src/index.ts
  packages/web-api/src/WebClient.ts
Labels: pkg:events-api, pkg:socket-mode, pkg:types, pkg:web-api

#1173 fix type definition of ChatPostMessageArguments
  packages/web-api/src/WebClient.spec.js
  packages/web-api/src/WebClient.ts
  packages/web-api/src/methods.ts
  packages/web-api/test/types/webclient-named-method-types.test-d.ts
Labels: bug, pkg:web-api

#1190 Fix minor errors in documents
  docs/_main/getting_started.md
  docs/_packages/rtm_api.md
  docs/_tutorials/local_development.md
Labels: docs

#1193 Update documentation
  packages/socket-mode/README.md
Labels: bug, docs, pkg:socket-mode

#1194 Remove CI build badges from package-level README
  packages/events-api/README.md
  packages/interactive-messages/README.md
  packages/oauth/README.md
  packages/rtm-api/README.md
  packages/socket-mode/README.md
  packages/web-api/README.md
  packages/webhook/README.md
Labels: docs

#1063 Fix required parameters in chat.update method
  packages/web-api/src/methods.ts
Labels: pkg:web-api

#841 Adds friendlier config error messages to Greet and React example app
  examples/greet-and-react/.gitignore
  examples/greet-and-react/README.md
  examples/greet-and-react/index.js
Labels: docs

#1197 Fix #1195 Make text arg optional in chat.* methods
  packages/web-api/src/methods.ts
  packages/web-api/test/types/webclient-named-method-types.test-d.ts
Labels: pkg:web-api, semver:minor

#1198 Fix #1192 Add admin.users.session.* API support
  .gitignore
  packages/web-api/src/methods.ts
  packages/web-api/src/response/AdminUsersSessionClearSettingsResponse.ts
  packages/web-api/src/response/AdminUsersSessionGetSettingsResponse.ts
  packages/web-api/src/response/AdminUsersSessionSetSettingsResponse.ts
  packages/web-api/src/response/ConversationsRepliesResponse.ts
  packages/web-api/src/response/ReactionsListResponse.ts
  packages/web-api/src/response/StarsListResponse.ts
  packages/web-api/src/response/index.ts
Labels: pkg:web-api, semver:minor
