Repository slackapi/node-slack-sdk, pull requests merged in 2022-01, with the labels that each got.

#1410 Fix #1409 installerOptions.failure() options can be undefined
  packages/oauth/src/index.spec.js
  packages/oauth/src/index.ts
Labels: bug, pkg:oauth

#1411 Refactor the internals of InstallProvider for better null safety
  packages/oauth/src/index.spec.js
  packages/oauth/src/index.ts
Labels: bug, enhancement, pkg:oauth

#1399 Publish @slack/webhook@6.1.0
  packages/webhook/package.json
Labels: pkg:webhook, release

#1414 Publish @slack/oauth@2.4.0
  packages/oauth/package.json
Labels: pkg:oauth, release

#1413 Add admin.apps.requests.cancel API method support
  packages/web-api/src/methods.ts
Labels: enhancement, pkg:web-api

#1417 Publish @slack/web-api@6.6.0
  packages/web-api/package.json
Labels: pkg:web-api, release
