Repository slackapi/node-slack-sdk, pull requests merged in 2022-04, with the labels that each got.

#1457 Add domain to team.info API parameters
  packages/web-api/src/methods.ts
Labels: enhancement, pkg:web-api

#1459 Fix #1450 Add isActive property to the SocketModeClient
  packages/socket-mode/src/SocketModeClient.spec.js
  packages/socket-mode/src/SocketModeClient.ts
Labels: enhancement, pkg:socket-mode

#1458 Add skip comments for any type warnings in socket-mode module
  packages/socket-mode/src/SocketModeClient.ts
  packages/socket-mode/src/errors.ts
Labels: enhancement, pkg:socket-mode

#1463 Fix #1462 Add app unfurl related properties in attachments
  packages/types/src/index.ts
Labels: bug, enhancement, area:typescript, pkg:types

#1468 webhook: upgrade minimum axios version to latest
  packages/webhook/package.json
Labels: security, pkg:webhook

#1467 Split SocketModeClient.ts into several files
  packages/socket-mode/src/SocketModeClient.ts
  packages/socket-mode/src/SocketModeOptions.ts
  packages/socket-mode/src/UnrecoverableSocketModeStartError.ts
  packages/socket-mode/src/index.ts
Labels: enhancement, pkg:socket-mode

#1466 Add envelope_id to Socket Mode listener arguments
  packages/socket-mode/src/SocketModeClient.spec.js
  packages/socket-mode/src/SocketModeClient.ts
Labels: enhancement, pkg:socket-mode

#1465 Fix #1243 Socket Mode reconnection issue
  packages/socket-mode/.gitignore
  packages/socket-mode/examples/link.sh
  packages/socket-mode/examples/package.json
  packages/socket-mode/examples/proxy.js
  packages/socket-mode/examples/simple.js
  packages/socket-mode/src/SocketModeClient.ts
  packages/socket-mode/src/SocketModeOptions.ts
  packages/socket-mode/src/errors.ts
Labels: bug, pkg:socket-mode

#1469 Publish @slack/socket-mode@1.3.0-rc.0
  packages/socket-mode/package.json
Labels: pkg:socket-mode, release

#1470 Apply more improvements to #1465 changes
  packages/socket-mode/examples/manually-connecting.js
  packages/socket-mode/src/SocketModeClient.ts
Labels: enhancement, pkg:socket-mode

#1473 First pass at improving local development tutorial
  docs/_tutorials/local_development.md
Labels: docs
