Repository slackapi/node-slack-sdk, pull requests merged in 2022-06, with the labels that each got.

#1491 Fix #1490 Add missing properties to UsersInfoResponse
  packages/web-api/src/response/FilesListResponse.ts
  packages/web-api/src/response/RtmStartResponse.ts
  packages/web-api/src/response/TeamProfileGetResponse.ts
  packages/web-api/src/response/UsersInfoResponse.ts
  packages/web-api/src/response/UsersListResponse.ts
  packages/web-api/src/response/UsersLookupByEmailResponse.ts
Labels: area:typescript, pkg:web-api

#1492 Publish @slack/web-api@6.7.2
  packages/web-api/package.json
Labels: pkg:web-api, release

#1496 Fix #1495 SocketModeClient still fails to automatically reconnect when apps.connections.open API returns an error code
  packages/socket-mode/src/SocketModeClient.ts
Labels: bug, pkg:socket-mode

#1497 fix(install-provider): do not duplicate installation if tokens werent…
  packages/oauth/src/install-provider.ts
Labels: bug, pkg:oauth
