Repository slackapi/node-slack-sdk, pull requests merged in 2022-05, with the labels that each got.

#1475 Publish @slack/socket-mode@1.3.0
  packages/socket-mode/package.json
Labels: pkg:socket-mode, release

#1478 Add "accessibility_label" field to Button interface
  packages/types/src/index.ts
Labels: enhancement, pkg:types

#1479 Tweaking logic for warning when using conversation APIs that are missing accessibility parameters
  packages/web-api/src/WebClient.spec.js
  packages/web-api/src/WebClient.ts
Labels: enhancement, pkg:web-api

#1477 Remove Subscribe in Slack
  packages/types/src/index.ts
  packages/web-api/src/methods.ts
Labels: pkg:web-api, pkg:types

#1485 Fix a bug where additional cookies set by beforeRedirection are overwritten
  packages/oauth/src/install-provider.spec.js
  packages/oauth/src/install-provider.ts
Labels: bug, pkg:oauth

#1489 Publish @slack/types@2.5.0
  packages/types/package.json
Labels: semver:minor, pkg:types, release
