Repository slackapi/node-slack-sdk, pull requests merged in 2022-09, with the labels that each got.

#1532 Bump lerna dependency
  package.json
Labels: tests

#1526 Add interactivity pointer
  docs/_packages/web_api.md
  packages/web-api/src/methods.ts
Labels: docs, enhancement, pkg:web-api

#1533 Publish
  packages/web-api/package.json
Labels: pkg:web-api, release

#1535 Update Deno Continuous Deployment check
  .github/workflows/deno-build.yml
  packages/web-api/deno-shims/util-shim.js
  packages/web-api/deno-shims/zlib-shim.js
Labels: enhancement

#1537 Add include_all_metadata to conversations.replies API arguments
  packages/web-api/src/methods.ts
Labels: enhancement, pkg:web-api
