Repository slackapi/node-slack-sdk, pull requests merged in 2022-02, with the labels that each got.

#1419 Add accessibility_label to button type block element
  packages/web-api/src/response/ChatPostMessageResponse.ts
  packages/web-api/src/response/ChatScheduleMessageResponse.ts
  packages/web-api/src/response/ChatUpdateResponse.ts
  packages/web-api/src/response/ConversationsHistoryResponse.ts
  packages/web-api/src/response/ConversationsOpenResponse.ts
  packages/web-api/src/response/ConversationsRepliesResponse.ts
  packages/web-api/src/response/FilesInfoResponse.ts
  packages/web-api/src/response/FilesListResponse.ts
  packages/web-api/src/response/FilesRemoteAddResponse.ts
  packages/web-api/src/response/FilesRemoteInfoResponse.ts
  packages/web-api/src/response/FilesRemoteListResponse.ts
  packages/web-api/src/response/FilesRemoteShareResponse.ts
  packages/web-api/src/response/FilesRemoteUpdateResponse.ts
  packages/web-api/src/response/FilesRevokePublicURLResponse.ts
  packages/web-api/src/response/FilesSharedPublicURLResponse.ts
  packages/web-api/src/response/FilesUploadResponse.ts
  packages/web-api/src/response/PinsListResponse.ts
  packages/web-api/src/response/ReactionsListResponse.ts
  packages/web-api/src/response/RtmStartResponse.ts
  packages/web-api/src/response/SearchAllResponse.ts
  packages/web-api/src/response/SearchMessagesResponse.ts
  packages/web-api/src/response/StarsListResponse.ts
  packages/web-api/src/response/ViewsOpenResponse.ts
  packages/web-api/src/response/ViewsPublishResponse.ts
  packages/web-api/src/response/ViewsPushResponse.ts
  packages/web-api/src/response/ViewsUpdateResponse.ts
Labels: area:typescript, pkg:web-api

#1420 Add admin.users.unsupportedVersions.export API support
  packages/web-api/src/methods.ts
  packages/web-api/src/response/AdminUsersUnsupportedVersionsExportResponse.ts
  packages/web-api/src/response/FilesListResponse.ts
  packages/web-api/src/response/RtmStartResponse.ts
  packages/web-api/src/response/index.ts
  prod-server-integration-tests/test/admin-web-api-users-unsupportedVersions-export.js
Labels: enhancement, pkg:web-api

#1424 Upgrade lerna to fix npm audit warnings
  package.json
Labels: enhancement, security, pkg:web-api, pkg:rtm-api, pkg:webhook, pkg:logger, pkg:types, pkg:oauth, pkg:socket-mode

#1426 Include Retry-After raw response header value when throwing an error due to invalid Retry-After header
  packages/web-api/src/WebClient.spec.js
  packages/web-api/src/WebClient.ts
Labels: semver:patch, enhancement, pkg:web-api

#1427 Add bookmarks.* API methods
  packages/web-api/src/methods.ts
  prod-server-integration-tests/test/bookmarks-web-api.js
Labels: semver:minor, enhancement, pkg:web-api

#1429 [#1428] Fix docs callbackOptions.success param to be installOptions
  docs/_packages/oauth.md
  packages/oauth/README.md
Labels: docs, semver:patch, pkg:oauth

#1430 Organize the source files in the OAuth package
  packages/oauth/.gitignore
  packages/oauth/package.json
  packages/oauth/src/authorize-result.ts
  packages/oauth/src/callback-options.spec.ts
  packages/oauth/src/callback-options.ts
  packages/oauth/src/index.ts
  packages/oauth/src/install-provider-options.spec.ts
  packages/oauth/src/install-provider-options.ts
  packages/oauth/src/install-provider.spec.js
  packages/oauth/src/install-provider.ts
  packages/oauth/src/install-url-options.spec.ts
  packages/oauth/src/install-url-options.ts
  packages/oauth/src/installation-query.spec.ts
  packages/oauth/src/installation-query.ts
  packages/oauth/src/installation.spec.ts
  packages/oauth/src/installation.ts
  packages/oauth/src/logger.spec.js
  packages/oauth/src/state-stores/clear-state-store.spec.js
  packages/oauth/src/state-stores/clear-state-store.ts
  packages/oauth/src/state-stores/index.ts
  packages/oauth/src/state-stores/interface.ts
  packages/oauth/src/stores/file-store.spec.js
  packages/oauth/src/stores/index.ts
  packages/oauth/src/stores/interface.ts
  packages/oauth/src/stores/memory-store.spec.js
  packages/oauth/tsconfig.json
Labels: enhancement, pkg:oauth

#1425 Fix eslint warnings and TODOs in OAuth module
  examples/oauth-v2/app.js
  examples/oauth-v2/link.sh
  examples/oauth-v2/package.json
  examples/oauth-v2/unlink.sh
  packages/oauth/src/install-provider.spec.js
  packages/oauth/src/install-provider.ts
  packages/oauth/src/stores/file-store.ts
Labels: bug, enhancement, pkg:oauth

#1431 Add error types to exposed ones from @slack/oauth
  packages/oauth/src/index.ts
Labels: enhancement, pkg:oauth

#1432 Publish @slack/web-api@6.7.0
  packages/web-api/package.json
Labels: semver:minor, pkg:web-api, release

#1433 Add missing parameters in chat.update API method
  packages/web-api/src/methods.ts
Labels: enhancement, pkg:web-api

#1437 Update FileInstallationStore to behave more consistently
  packages/oauth/src/stores/file-store.spec.js
  packages/oauth/src/stores/file-store.ts
Labels: enhancement, pkg:oauth
