Repository slackapi/node-slack-sdk, pull requests merged in 2022-03, with the labels that each got.

#1441 Fix #1439 Add built-in StateStore implementations using server-side database
  packages/oauth/package.json
  packages/oauth/src/errors.ts
  packages/oauth/src/state-stores/clear-state-store.spec.js
  packages/oauth/src/state-stores/clear-state-store.spec.ts
  packages/oauth/src/state-stores/clear-state-store.ts
  packages/oauth/src/state-stores/file-state-store.spec.ts
  packages/oauth/src/state-stores/file-state-store.ts
  packages/oauth/src/state-stores/index.ts
  packages/oauth/src/state-stores/interface.ts
  packages/oauth/src/state-stores/spec-utils.ts
  packages/oauth/tsconfig.json
Labels: enhancement, pkg:oauth

#1436 Fix #1435 Proper use of state parameter for the OAuth CSRF protection
  examples/oauth-v2/app.js
  packages/oauth/src/callback-options.ts
  packages/oauth/src/default-render-html-for-install-path.spec.js
  packages/oauth/src/default-render-html-for-install-path.ts
  packages/oauth/src/install-provider-options.ts
  packages/oauth/src/install-provider.spec.js
  packages/oauth/src/install-provider.ts
  packages/oauth/src/state-stores/interface.ts
  packages/oauth/src/stores/file-store.ts
Labels: bug, pkg:oauth

#1442 Fix #1438 Add more callbacks (beforeRedirection, before/afterInstallation, async success/failure) in InstallProvider
  packages/oauth/src/callback-options.ts
  packages/oauth/src/install-path-options.spec.ts
  packages/oauth/src/install-path-options.ts
  packages/oauth/src/install-provider.spec.js
  packages/oauth/src/install-provider.ts
Labels: enhancement, pkg:oauth

#1443 Rename sub directory for installation stores
  packages/oauth/src/index.ts
  packages/oauth/src/install-provider-options.ts
  packages/oauth/src/install-provider.ts
  packages/oauth/src/installation-stores/file-store.spec.js
  packages/oauth/src/installation-stores/file-store.ts
  packages/oauth/src/installation-stores/index.ts
  packages/oauth/src/installation-stores/interface.ts
  packages/oauth/src/installation-stores/memory-store.spec.js
  packages/oauth/src/installation-stores/memory-store.ts
Labels: enhancement, pkg:oauth

#1445 Updating beta releasing steps for maintainers
  .github/maintainers_guide.md
Labels: docs

#1446 Add more exports to oauth/index.ts
  packages/oauth/src/index.ts
Labels: bug, pkg:oauth

#1447 Upgrade the minimum axios version to the latest (web-api)
  packages/web-api/package.json
Labels: security, pkg:web-api

#1449 Publish @slack/oauth@2.5.0
  packages/oauth/package.json
Labels: pkg:oauth

#1448 Adding documentation for handleInstallPath, beforeRedirection, beforeInstallation, afterInstallation
  docs/_packages/oauth.md
  docs/_reference/oauth.md
Labels: docs, pkg:oauth

#1453 Fix #1452 fields[key].label is missing in users.profile.get responses
  packages/web-api/src/response/UsersProfileGetResponse.ts
Labels: bug, area:typescript, pkg:web-api

#1454 Publish @slack/web-api@6.7.1
  packages/web-api/package.json
Labels: semver:patch, pkg:web-api

#1451 Improve debug-level logging in InstallProvider#handleInstallPath()
  examples/oauth-v2/app.js
  examples/oauth-v2/package.json
  packages/oauth/src/install-provider.ts
  packages/oauth/src/install-url-options.spec.ts
Labels: bug, pkg:oauth

#1456 Fix #1455 bolt-js's `ack(string)` does not work in Socket Mode
  packages/socket-mode/src/SocketModeClient.ts
Labels: bug, pkg:socket-mode
