Repository slackapi/node-slack-sdk, pull requests merged in 2022-11, with the labels that each got.

#1551 ChatUnfurlArguments require either `channel` and `ts` or `unfurl_id` and `source` properties to be specified in pairs
  packages/web-api/src/methods.ts
Labels: bug, semver:patch, enhancement, area:typescript, pkg:web-api

#1554 Publish @slack/types@2.8.0
  packages/types/package.json
Labels: pkg:types, release

#1555 Publish @slack/web-api@6.8.0
  packages/web-api/package.json
Labels: pkg:web-api, release

#1548 Update docs to include files.uploadV2
  docs/_packages/web_api.md
Labels: docs

#1556 Update maintainer's guide to clarify release instructions
  .github/maintainers_guide.md
Labels: docs

#1562 fix(web-api): fix auth.revoke argument type definition
  packages/web-api/src/methods.ts
Labels: bug, pkg:web-api
