Repository slackapi/node-slack-sdk, pull requests merged in 2022-10, with the labels that each got.

#1547 Fix #1546 SocketModeClient raise TypeError when running Node.js 19
  packages/socket-mode/src/SocketModeClient.ts
Labels: bug, pkg:socket-mode

#1529 fix(1528): better warnings about webclient fallbacks
  packages/web-api/src/WebClient.spec.js
  packages/web-api/src/WebClient.ts
Labels: enhancement, pkg:web-api

#1552 Add better request logging to WebClient
  packages/web-api/src/WebClient.ts
Labels: pkg:web-api

#1550 Factor out `confirm`, `placeholder`, `focus_on_load` and `dispatch_action_config` properties
  packages/types/src/index.ts
Labels: question, semver:patch, enhancement, discussion, area:typescript, pkg:types

#1549 Add types for DateTimepicker, EmailInput, NumberInput and URLInput
  packages/types/src/index.ts
Labels: semver:minor, enhancement, area:typescript, pkg:types
