Repository slackapi/node-slack-sdk, pull requests merged in 2022-07, with the labels that each got.

#1504 Adding Message Metadata support
  packages/types/src/index.ts
  packages/web-api/src/methods.ts
Labels: enhancement, pkg:types

#1503 Added in timezone string property to timepicker block element in types package
  packages/types/src/index.ts
Labels: enhancement, area:typescript, pkg:types

#1507 Allow `handlerInstallPath` to work without `stateStore`
  packages/oauth/src/install-provider.ts
  packages/webhook/src/IncomingWebhook.spec.js
Labels: bug, pkg:oauth

#1510 Publish @slack/oauth@2.5.4
  packages/oauth/package.json
Labels: semver:patch, pkg:oauth, release

#1513 Add types module to issue templates
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/enhancement---feature-request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/issue_template.md
Labels: enhancement

#1514 Fix #1512 Add video block to Block Kit support
  packages/types/src/index.ts
Labels: area:typescript, pkg:types

#1515 Added in functionality for admin.analytics.getFile method
  packages/web-api/src/WebClient.ts
  packages/web-api/src/methods.ts
  packages/web-api/src/response/AdminAnalyticsGetFileResponse.ts
  packages/web-api/src/response/index.ts
  prod-server-integration-tests/test/admin-web-api-analytics.js
  scripts/code_generator.rb
Labels: enhancement, pkg:web-api, draft
