Repository slackapi/node-slack-sdk, pull requests merged in 2023-08, with the labels that each got.

#1637 feat: add context to rate-limited event
  docs/_packages/web_api.md
  packages/web-api/src/WebClient.spec.js
  packages/web-api/src/WebClient.ts
Labels: semver:minor, enhancement, pkg:web-api, cla:signed

#1640 Publish @slack/web-api@6.9.0
  packages/web-api/package.json
Labels: release

#1649 Remove Lerna and related root npm run scripts, fix types in rtm-api
  .github/workflows/ci-build.yml
  package.json
  packages/rtm-api/src/KeepAlive.ts
Labels: semver:patch, enhancement, pkg:rtm-api

#1650 Logger updates: dependencies and higher minimum node version
  packages/logger/README.md
  packages/logger/package.json
  packages/logger/src/index.ts
Labels: discussion, pkg:logger

#1651 Publish @slack/logger@4.0.0
  packages/logger/package.json
Labels: release

#1655 types: Adding deprecation notices to Dialogs and Steps From Apps types
  packages/types/src/index.ts
Labels: area:typescript, pkg:types
