Repository slackapi/node-slack-sdk, pull requests merged in 2023-01, with the labels that each got.

#1575 Upgrade jsonwebtoken for critical level security issues
  packages/oauth/package.json
Labels: security, pkg:oauth

#1579 Publish
  packages/oauth/package.json
Labels: pkg:oauth, release

#1581 Add include_categories to emoji.list API arguments
  packages/web-api/src/methods.ts
Labels: enhancement, pkg:web-api

#1583 feat: set default max concurrency to 100 for web-api client
  docs/_packages/web_api.md
  packages/web-api/src/WebClient.spec.js
  packages/web-api/src/WebClient.ts
Labels: enhancement, pkg:web-api
