Repository slackapi/node-slack-sdk, pull requests merged in 2023-04, with the labels that each got.

#1604 Improve the default OAuth page renderer
  packages/oauth/src/callback-options.spec.ts
  packages/oauth/src/callback-options.ts
Labels: bug, pkg:oauth

#1605 Publish @slack/oauth@2.6.1
  packages/oauth/package.json
Labels: pkg:oauth, release

#1609 Expand on getting access token documentation
  docs/_packages/socket_mode.md
  docs/_packages/web_api.md
  docs/_reference/web-api.md
  docs/_tutorials/local_development.md
Labels: docs, semver:patch
