Repository slackapi/node-slack-sdk, pull requests merged in 2023-10, with the labels that each got.

#1666 @slack/webhook: set min node to 18, prep for major release
  packages/webhook/README.md
  packages/webhook/package.json
  packages/webhook/src/IncomingWebhook.ts
Labels: semver:major, pkg:webhook

#1667 @slack/web-api: prep for next major release. bump min node to v18
  packages/web-api/README.md
  packages/web-api/package.json
  packages/web-api/src/WebClient.spec.js
  packages/web-api/src/WebClient.ts
  packages/web-api/src/errors.ts
  packages/web-api/src/methods.ts
  packages/web-api/src/retry-policies.ts
Labels: semver:major, pkg:web-api

#1674 Remove warning from chat.update
  packages/web-api/src/WebClient.spec.js
  packages/web-api/src/WebClient.ts
Labels: semver:patch, enhancement, pkg:web-api

#1676 added the config lookup and set method implementation
  packages/web-api/src/methods.ts
Labels: cla:signed

#1672 `npm link` up the packages in this repo during CI
  .github/workflows/ci-build.yml
  packages/web-api/src/WebClient.ts
Labels: semver:patch, tests

#1678 typo fix
  packages/types/README.md
Labels: docs, pkg:types, cla:signed

#1683 web-api: Fix import and constructor naming conventions
  packages/web-api/src/WebClient.ts
Labels: tests, pkg:web-api

#1685 webhook@7.0.1. Also bump sinon dev dependency to latest version.
  packages/webhook/package.json
Labels: semver:patch, pkg:webhook, release

#1686 chore: update axios in web-api to 1.6.0. See #1682 for more info
  packages/web-api/package.json
Labels: cla:signed

#1687 slack/web-api@6.9.1
  packages/web-api/package.json
Labels: semver:patch, pkg:web-api, release
