Repository slackapi/node-slack-sdk, pull requests merged in 2023-05, with the labels that each got.

#1615 [Snyk] Upgrade is-electron from 2.2.0 to 2.2.2
  packages/web-api/package.json
Labels: pkg:web-api, cla:signed

#1614 [Snyk] Upgrade passport from 0.3.2 to 0.6.0
  examples/greet-and-react/package.json
Labels: area:examples, cla:signed

#1613 [Snyk] Upgrade axios from 0.21.4 to 0.27.2
  packages/interactive-messages/package.json
Labels: pkg:interactive-messages (deprecated), cla:signed

#1616 Fix bug with `files.uploadV2` to ensure complete file is uploaded
  packages/web-api/src/file-upload.spec.js
  packages/web-api/src/file-upload.ts
Labels: bug, semver:patch

#1618 [Snyk] Upgrade axios from 0.21.4 to 0.27.2
  examples/express-all-interactions/package.json
Labels: area:examples, cla:signed

#1617 Add metadata to incoming webhooks parameters
  packages/webhook/src/IncomingWebhook.spec.js
  packages/webhook/src/IncomingWebhook.ts
Labels: bug, pkg:webhook

#1619 [Snyk] Upgrade axios from 0.26.1 to 0.27.2
  packages/webhook/package.json
Labels: cla:signed

#1624 Tweak debug logs in SocketModeClient
  packages/socket-mode/src/SocketModeClient.ts
Labels: bug, pkg:socket-mode

#1621 Add `author_subname` type
  packages/types/src/index.ts
Labels: semver:patch, area:typescript, pkg:types, cla:signed

#1625 Add cursor pagination to team.accessLogs
  packages/web-api/src/methods.ts
Labels: enhancement, pkg:web-api
