Repository slackapi/node-slack-sdk, pull requests merged in 2023-09, with the labels that each got.

#1656 Types: split single index.ts file into files based on function/category
  packages/types/src/block-kit/block-elements.ts
  packages/types/src/block-kit/blocks.ts
  packages/types/src/block-kit/composition-objects.ts
  packages/types/src/block-kit/extensions.ts
  packages/types/src/calls.ts
  packages/types/src/dialog.ts
  packages/types/src/index.ts
  packages/types/src/message-attachments.ts
  packages/types/src/message-metadata.ts
  packages/types/src/views.ts
Labels: semver:patch, area:typescript, pkg:types

#1662 `@slack/types` Full JSdoc and upcoming major version breaking change TODOs as comments
  packages/types/src/block-kit/block-elements.ts
  packages/types/src/block-kit/blocks.ts
  packages/types/src/block-kit/composition-objects.ts
  packages/types/src/block-kit/extensions.ts
  packages/types/src/calls.ts
  packages/types/src/message-attachments.ts
  packages/types/src/message-metadata.ts
Labels: semver:minor, pkg:types

#1663 Add a README to the types package.
  packages/types/README.md
Labels: docs, semver:patch, pkg:types

#1664 Drop use of deprecated interfaces and use new aliased one.
  packages/types/src/block-kit/block-elements.ts
  packages/types/src/block-kit/blocks.ts
  packages/types/src/block-kit/extensions.ts
Labels: semver:patch, enhancement, area:typescript, pkg:types

#1643 Add rich text types
  packages/types/src/block-kit/block-elements.ts
  packages/types/src/block-kit/blocks.ts
  packages/types/src/block-kit/extensions.ts
Labels: semver:minor, pkg:types
