Repository slackapi/node-slack-sdk, pull requests merged in 2024-04, with the labels that each got.

#1764 Prep for major release of rtm-api
  packages/rtm-api/.mocharc.json
  packages/rtm-api/README.md
  packages/rtm-api/package.json
  packages/rtm-api/src/RTMClient.ts
  packages/rtm-api/test/integration.spec.js
Labels: semver:major, pkg:rtm-api

#1767 rtm-api(chore): release @slack/rtm-api@7.0.0
  packages/rtm-api/package.json
Labels: semver:major, pkg:rtm-api, release

#1773 web-api: Add deprecation JSdoc to `files.upload` method
  packages/web-api/src/methods.ts
Labels: docs, semver:patch, pkg:web-api

#1774 ci: npm link dependent `@slack` packages when running CI for oauth package
  .github/workflows/ci-build.yml
Labels: tests

#1772 web-api(fix): Update p-retry package
  packages/web-api/package.json
Labels: semver:patch, area:typescript, pkg:web-api, cla:signed

#1776 Bump `@slack/web-api` to 7.0.3
  packages/web-api/package.json
Labels: semver:patch, pkg:web-api

#1762 socket-mode: do not throw exception when calling disconnect() and already disconnected; do not raise slack_event in case of type:disconnect messages
  packages/socket-mode/src/SocketModeClient.ts
  packages/socket-mode/test/integration.spec.js
Labels: semver:major, enhancement, tests, pkg:socket-mode

#1779 web-api(fix): oauth.v2.exchange method requires a token parameter
  packages/web-api/src/types/request/oauth.ts
  packages/web-api/test/types/methods/oauth.test-d.ts
Labels: semver:patch, area:typescript, pkg:web-api

#1780 Bump `@slack/web-api` to 7.0.4
  packages/web-api/package.json
Labels: semver:patch, pkg:web-api, release

#1781 Socket Mode Rewrite to Python(ish) Implementation
  docs/_packages/socket_mode.md
  lint-configs/.eslintrc.js
  packages/socket-mode/.mocharc.json
  packages/socket-mode/README.md
  packages/socket-mode/package.json
  packages/socket-mode/src/SlackWebSocket.spec.ts
  packages/socket-mode/src/SlackWebSocket.ts
  packages/socket-mode/src/SocketModeClient.spec.js
  packages/socket-mode/src/SocketModeClient.spec.ts
  packages/socket-mode/src/SocketModeClient.ts
  packages/socket-mode/src/SocketModeOptions.ts
  packages/socket-mode/src/logger.ts
  packages/socket-mode/test/integration.spec.js
  packages/socket-mode/tsconfig.json
Labels: semver:major, pkg:socket-mode

#1777 Socket mode 1.3.5 RC
  packages/socket-mode/package.json
  packages/socket-mode/src/SocketModeClient.ts
  packages/socket-mode/test/integration.spec.js
Labels: semver:patch, pkg:socket-mode, release

#1784 Release `@slack/socket-mode@1.3.5`
  packages/socket-mode/package.json
Labels: semver:patch, pkg:socket-mode, release

#1785 Publish `@slack/socket-mode@2.0.0`
  packages/socket-mode/package.json
  packages/socket-mode/src/SlackWebSocket.ts
  packages/socket-mode/test/integration.spec.js
Labels: semver:major, pkg:socket-mode, release
