Repository slackapi/node-slack-sdk, pull requests merged in 2024-11, with the labels that each got.

#2092 chore: remove no longer relevant legacy signin example
  examples/legacy-sign-in-with-slack/app.js
  examples/legacy-sign-in-with-slack/app_manifest.yml
  examples/legacy-sign-in-with-slack/link.sh
  examples/legacy-sign-in-with-slack/package.json
Labels: area:examples

#2096 fix(cli-hooks): silence node warnings that can break @slack/cli-hooks
  packages/cli-hooks/README.md
  packages/cli-hooks/src/get-hooks.js
  packages/cli-hooks/src/get-hooks.spec.js
  packages/cli-hooks/src/protocols.js
Labels: bug, semver:patch, pkg:cli-hooks

#2098 Publish @slack/cli-hooks@1.1.2
  packages/cli-hooks/package.json
Labels: semver:patch, release, pkg:cli-hooks

#2097 feat(cli-test): include expected test trace outputs for the "env" subcommands
  packages/cli-test/src/utils/constants.ts
Labels: semver:minor, pkg:cli-test
