Repository slackapi/node-slack-sdk, pull requests merged in 2024-03, with the labels that each got.

#1753 Add missing "border" proerty to "rich_text_quote" block element
  packages/types/src/block-kit/block-elements.ts
Labels: bug, area:typescript, pkg:types

#1755 Fix: Add missing 'new' keyword in rate limit error throwing
  packages/web-api/src/WebClient.ts
Labels: semver:patch, pkg:web-api, cla:signed

#1757 socket-mode: add more debug logging to low level websocket event handlers
  packages/socket-mode/src/SocketModeClient.ts
Labels: semver:patch, enhancement, pkg:socket-mode

#1759 Release `@slack/socket-mode` v1.3.4
  packages/socket-mode/package.json
Labels: semver:patch, pkg:socket-mode, release

#1763 feat: return runtime versions used by the application with a doctor hook
  packages/cli-hooks/README.md
  packages/cli-hooks/package.json
  packages/cli-hooks/src/doctor.js
  packages/cli-hooks/src/doctor.spec.js
  packages/cli-hooks/src/get-hooks.js
  packages/cli-hooks/src/get-hooks.spec.js
Labels: semver:minor, enhancement, release, pkg:cli-hooks
