Repository slackapi/node-slack-sdk, pull requests merged in 2024-10, with the labels that each got.

#2058 Publish `@slack/cli-test@1.2.0+cli.2.29.2`
  packages/cli-test/package.json
Labels: release, pkg:cli-test

#2059 socket-mode(fix): do not handle message events twice
  packages/socket-mode/package.json
  packages/socket-mode/src/SlackWebSocket.ts
  packages/socket-mode/src/SocketModeClient.spec.ts
  packages/socket-mode/src/SocketModeClient.ts
  packages/socket-mode/tsconfig.json
Labels: bug, semver:patch, pkg:socket-mode

#2062 Publish @slack/cli-test@1.3.0+cli.2.29.2
  packages/cli-test/package.json
Labels: release, pkg:cli-test

#2063 ci: clean up dependabot groups and references to no longer used packages
  .github/dependabot.yml
Labels: semver:patch, tests

#2071 web-api(feat): minor additions to some admin API response types
  packages/web-api/src/types/response/AdminAppsActivitiesListResponse.ts
  packages/web-api/src/types/response/AdminFunctionsListResponse.ts
  packages/web-api/src/types/response/AdminUsersListResponse.ts
  scripts/generate-web-api-types.sh
Labels: semver:minor, area:typescript, pkg:web-api

#2072 web-api(feat): add support for `conversations.requestShared.list` API
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/conversations.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/response/ConversationsRequestSharedInviteListResponse.ts
  packages/web-api/src/types/response/index.ts
  packages/web-api/test/types/methods/conversations.test-d.ts
Labels: semver:minor, enhancement, area:typescript, pkg:web-api

#2074 Publish `@slack/web-api@7.6.0`
  packages/web-api/package.json
Labels: pkg:web-api, release

#2076 feat(web-api): add request interceptor and HTTP adapter config to WebClient [ISSUE-2073]
  docs/content/packages/web-api.md
  packages/web-api/src/WebClient.spec.ts
  packages/web-api/src/WebClient.ts
Labels: semver:minor, enhancement, pkg:web-api, cla:signed

#2077 Add assistant_thread to message event payload type
  packages/types/src/events/message.ts
Labels: semver:minor, enhancement, area:typescript, pkg:types

#2078 Publish `@slack/web-api@7.7.0`
  packages/web-api/package.json
Labels: pkg:web-api, release

#2081 ci: add windows testing to CI by lifting OS into its own test matrix …
  .github/workflows/ci-build.yml
  packages/cli-test/src/cli/commands/platform.spec.ts
  packages/web-api/src/WebClient.spec.ts
Labels: semver:patch, tests

#2083 docs: salesforce compliance adjustments
  docs/README.md
  docs/docusaurus.config.js
  docs/footerConfig.js
  docs/navbarConfig.js
Labels: docs
