Repository slackapi/node-slack-sdk, pull requests merged in 2024-08, with the labels that each got.

#1857 cli-test: 1.0
  docs/content/reference/cli-test/classes/SlackCLIProcess.md
  docs/content/reference/cli-test/index.md
  docs/content/reference/cli-test/typedoc-sidebar.cjs
  docs/content/reference/cli-test/variables/SlackCLI.md
  docs/content/reference/cli-test/variables/SlackProduct.md
  docs/content/reference/cli-test/variables/SlackTracerId.md
  docs/content/reference/cli-test/variables/shell.md
  docs/docusaurus.config.js
  docs/sidebars.js
  packages/cli-test/package.json
  packages/cli-test/src/cli/cli-process.spec.ts
  packages/cli-test/src/cli/cli-process.ts
  packages/cli-test/src/cli/command-error.ts
  packages/cli-test/src/cli/commands/app.spec.ts
  packages/cli-test/src/cli/commands/app.ts
  packages/cli-test/src/cli/commands/auth.spec.ts
  packages/cli-test/src/cli/commands/auth.ts
  packages/cli-test/src/cli/commands/collaborator.spec.ts
  packages/cli-test/src/cli/commands/collaborator.ts
  packages/cli-test/src/cli/commands/create.spec.ts
  packages/cli-test/src/cli/commands/create.ts
  packages/cli-test/src/cli/commands/env.spec.ts
  packages/cli-test/src/cli/commands/env.ts
  packages/cli-test/src/cli/commands/external-auth.spec.ts
  packages/cli-test/src/cli/commands/external-auth.ts
  packages/cli-test/src/cli/commands/function.spec.ts
  packages/cli-test/src/cli/commands/function.ts
  packages/cli-test/src/cli/commands/manifest.spec.ts
  packages/cli-test/src/cli/commands/manifest.ts
  packages/cli-test/src/cli/commands/platform.spec.ts
  packages/cli-test/src/cli/commands/platform.ts
  packages/cli-test/src/cli/commands/trigger.spec.ts
  packages/cli-test/src/cli/commands/trigger.ts
  packages/cli-test/src/cli/index.spec.ts
  packages/cli-test/src/cli/index.ts
  packages/cli-test/src/cli/shell.spec.ts
  packages/cli-test/src/cli/shell.ts
  packages/cli-test/src/types/commands/common_arguments.ts
  packages/cli-test/src/types/shell.ts
  packages/cli-test/src/utils/custom-errors.ts
  packages/cli-test/src/utils/test.ts
Labels: semver:major, enhancement, area:typescript, pkg:cli-test

#1867 Publish `@slack/cli-test@1.0.0+cli.2.29.0`
  packages/cli-test/package.json
Labels: release, pkg:cli-test

#1870 docs: adds google analytics tag
  docs/docusaurus.config.js
Labels: docs

#1872 web-api(fix): allow typed token overrides in supported methods
  packages/web-api/src/types/request/admin/apps.ts
  packages/web-api/src/types/request/apps.ts
  packages/web-api/test/types/methods/admin.apps.test-d.ts
  packages/web-api/test/types/methods/apps.test-d.ts
Labels: bug, semver:patch, area:typescript, pkg:web-api

#1873 web-api(chore): release @slack/web-api@7.3.3
  packages/web-api/package.json
Labels: semver:patch, pkg:web-api, release

#1875 fix: bump axios to 1.7.4 to address CVE
  packages/web-api/package.json
Labels: semver:patch, security, pkg:web-api

#1876 Publish `@slack/web-api@7.3.4`
  packages/web-api/package.json
Labels: pkg:web-api, release

#1877 cli-test(chore): remove unnecessary non-null assertion
  packages/cli-test/src/cli/index.ts
Labels: semver:patch, pkg:cli-test

#1879 webhook(chore): bump axios to 1.7.4 to address CVE-2024-39338
  packages/interactive-messages/package.json
  packages/webhook/package.json
Labels: semver:patch, security, pkg:interactive-messages (deprecated), pkg:webhook

#1878 socket-mode(build): use a minimum version of web-api@7.3.4
  packages/socket-mode/package.json
Labels: semver:patch, enhancement, pkg:socket-mode

#1880 web-api@6(chore): bump axios to 1.7.4 to address CVE-2024-39338
  packages/web-api/package.json
Labels: semver:patch, security, pkg:web-api

#1881 webhook(chore): release @slack/webhook@7.0.3
  packages/webhook/package.json
Labels: semver:patch, pkg:webhook, release

#1882 web-api@6(chore): release @slack/web-api@6.12.1
  packages/web-api/package.json
Labels: semver:patch, pkg:web-api, release

#1883 socket-mode(chore): release @slack/socket-mode@2.0.1
  packages/socket-mode/package.json
Labels: semver:patch, pkg:socket-mode, release

#1884 style: remove an extra space from the pull request template
  .github/pull_request_template.md
Labels: area:performance

#1885 socket-mode@1(chore): bump @slack/web-api to ^6.12.1 to address CVE-2024-39338
  packages/socket-mode/package.json
Labels: semver:patch, security, pkg:socket-mode

#1886 socket-mode(chore): release @slack/socket-mode@1.3.6
  packages/socket-mode/package.json
Labels: semver:patch, pkg:socket-mode, release

#1887 rtm-api(build): use a minimum version of @slack/web-api@7.3.4
  packages/rtm-api/package.json
Labels: semver:patch, pkg:rtm-api, release

#1888 rtm-api(chore): release @slack/rtm-api@7.0.1
  packages/rtm-api/package.json
Labels: semver:patch, pkg:rtm-api, release

#1889 oauth(build): use a minimum version of @slack/web-api@6.12.1
  packages/oauth/package.json
Labels: semver:patch, security, pkg:oauth

#1890 oauth(chore): release @slack/oauth@2.6.3
  packages/oauth/package.json
Labels: semver:patch, pkg:oauth, release

#1891 oauth(build): use a minimum version of @slack/web-api@7.3.4
  packages/oauth/package.json
Labels: semver:patch, security, pkg:oauth

#1892 oauth(chore): release @slack/oauth@3.0.1
  packages/oauth/package.json
Labels: semver:patch, pkg:oauth, release

#1893 web-api(docs): include updated required packages in the oidc example
  examples/openid-connect/package.json
Labels: bug, docs, semver:patch, pkg:web-api, area:examples

#1895 cli-hooks(chore): fix prelint tsc run script
  packages/cli-hooks/package.json
Labels: semver:patch, tests, area:typescript, pkg:cli-hooks

#1897 cli-test(feat): expose timeout argument for activity tail and run start/stop methods
  packages/cli-test/src/cli/cli-process.ts
  packages/cli-test/src/cli/commands/platform.ts
  packages/cli-test/src/cli/shell.spec.ts
  packages/cli-test/src/cli/shell.ts
Labels: semver:minor, enhancement, pkg:cli-test

#1898 Publish `@slack/cli-test@1.1.0`
  packages/cli-test/package.json
Labels: release, pkg:cli-test

#1899 logger(docs): include an example setup with some configurations
  packages/logger/README.md
Labels: docs, pkg:logger

#1900 doc: fix typo in web-api.md
  docs/content/packages/web-api.md
Labels: cla:signed

#1901 chore (web-api): update response types w/ latest generated sample responses
  packages/web-api/src/types/response/AdminConversationsSearchResponse.ts
  packages/web-api/src/types/response/AppsManifestCreateResponse.ts
  packages/web-api/src/types/response/ChatPostMessageResponse.ts
  packages/web-api/src/types/response/ChatScheduleMessageResponse.ts
  packages/web-api/src/types/response/ChatUpdateResponse.ts
  packages/web-api/src/types/response/ConversationsHistoryResponse.ts
  packages/web-api/src/types/response/ConversationsJoinResponse.ts
  packages/web-api/src/types/response/ConversationsListResponse.ts
  packages/web-api/src/types/response/ConversationsOpenResponse.ts
  packages/web-api/src/types/response/ConversationsRepliesResponse.ts
  packages/web-api/src/types/response/FilesInfoResponse.ts
  packages/web-api/src/types/response/FilesListResponse.ts
  packages/web-api/src/types/response/FilesRemoteAddResponse.ts
  packages/web-api/src/types/response/FilesRemoteInfoResponse.ts
  packages/web-api/src/types/response/FilesRemoteListResponse.ts
  packages/web-api/src/types/response/FilesRemoteShareResponse.ts
  packages/web-api/src/types/response/FilesRemoteUpdateResponse.ts
  packages/web-api/src/types/response/FilesRevokePublicURLResponse.ts
  packages/web-api/src/types/response/FilesSharedPublicURLResponse.ts
  packages/web-api/src/types/response/FilesUploadResponse.ts
  packages/web-api/src/types/response/PinsListResponse.ts
  packages/web-api/src/types/response/ReactionsGetResponse.ts
  packages/web-api/src/types/response/ReactionsListResponse.ts
  packages/web-api/src/types/response/RtmStartResponse.ts
  packages/web-api/src/types/response/SearchAllResponse.ts
  packages/web-api/src/types/response/SearchFilesResponse.ts
  packages/web-api/src/types/response/SearchMessagesResponse.ts
  packages/web-api/src/types/response/UsersConversationsResponse.ts
  packages/web-api/src/types/response/ViewsOpenResponse.ts
  packages/web-api/src/types/response/ViewsPublishResponse.ts
  packages/web-api/src/types/response/ViewsPushResponse.ts
  packages/web-api/src/types/response/ViewsUpdateResponse.ts
Labels: semver:minor, area:typescript, pkg:web-api

#1907 feat: adding event payloads from bolt-js as a starting point
  packages/types/src/common/bot-profile.ts
  packages/types/src/common/status-emoji-display-info.ts
  packages/types/src/events/app.ts
  packages/types/src/events/call.ts
  packages/types/src/events/channel.ts
  packages/types/src/events/dnd.ts
  packages/types/src/events/email.ts
  packages/types/src/events/emoji.ts
  packages/types/src/events/file.ts
  packages/types/src/events/function.ts
  packages/types/src/events/grid-migration.ts
  packages/types/src/events/group.ts
  packages/types/src/events/im.ts
  packages/types/src/events/index.ts
  packages/types/src/events/invite.ts
  packages/types/src/events/link-shared.ts
  packages/types/src/events/member.ts
  packages/types/src/events/message-metadata.ts
  packages/types/src/events/message.ts
  packages/types/src/events/pin.ts
  packages/types/src/events/reaction.ts
  packages/types/src/events/shared-channel.ts
  packages/types/src/events/star.ts
  packages/types/src/events/steps-from-apps.ts
  packages/types/src/events/subteam.ts
  packages/types/src/events/team.ts
  packages/types/src/events/token.ts
  packages/types/src/events/user.ts
  packages/types/src/index.ts
Labels: semver:minor, enhancement, area:typescript, pkg:types

#1908 Publish `@slack/types@2.13.0`
  packages/types/package.json
Labels: pkg:types, release

#1909 Updating app_requested payload to include new field
  packages/types/src/events/app.ts
Labels: semver:minor, enhancement, area:typescript, pkg:types
