Repository slackapi/node-slack-sdk, pull requests merged in 2024-07, with the labels that each got.

#1834 web-api: add new `conversations.externalInvitePermissions.set` API
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/conversations.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/response/ConversationsExternalInvitePermissionsSetResponse.ts
  packages/web-api/src/types/response/index.ts
  packages/web-api/test/types/methods/conversations.test-d.ts
Labels: semver:minor, enhancement, pkg:web-api

#1841 web-api(fix): revert use of `export type *` to maintain backwards compatibility with TS 4.7
  packages/web-api/.gitignore
  packages/web-api/package.json
  packages/web-api/src/types/request/index.ts
  packages/web-api/test/integration/ts-4.7-project/index.ts
  packages/web-api/test/integration/ts-4.7-project/package.json
  packages/web-api/test/integration/ts-4.7-project/tsconfig.json
Labels: bug, semver:patch, area:typescript, pkg:web-api

#1842 Publish `@slack/web-api@7.3.1`
  packages/web-api/package.json
Labels: semver:patch, pkg:web-api, release

#1848 fix: improve type for upload file v2
  packages/web-api/src/types/request/files.ts
  packages/web-api/test/types/methods/files.test-d.ts
Labels: bug, semver:patch, area:typescript, pkg:web-api

#1847 ci: lock to npm 10.7 when running on node 22
  .github/workflows/ci-build.yml
  package.json
Labels: semver:patch, tests

#1850 release: @slack/cli-test@0.2.2+cli.2.27.1
  packages/cli-test/package.json
  packages/cli-test/src/cli/commands/platform.ts
  packages/cli-test/src/cli/shell.ts
Labels: semver:patch, release

#1852 feat (cli-test): `logout` only logs out of the specified team, plus `shouldLogOut` parameter
  packages/cli-test/src/cli/index.ts
Labels: semver:minor, tests, pkg:cli-test

#1853 Publish `@slack/cli-test@0.3.0+cli.2.27.1`
  packages/cli-test/package.json
Labels: semver:minor, release, pkg:cli-test

#1854 Publish `@slack/cli-hooks@1.1.1`
  packages/cli-hooks/package.json
Labels: semver:patch, release, pkg:cli-hooks

#1855 docs(fix): update anchor links in the maintainers guide
  .github/maintainers_guide.md
Labels: bug, docs

#1856 🔪 cli-test: remove command and custom error classes
  packages/cli-test/src/cli/cli-process.ts
  packages/cli-test/src/cli/command-error.ts
  packages/cli-test/src/cli/commands/app.ts
  packages/cli-test/src/cli/commands/auth.ts
  packages/cli-test/src/cli/commands/collaborator.ts
  packages/cli-test/src/cli/commands/create.ts
  packages/cli-test/src/cli/commands/env.ts
  packages/cli-test/src/cli/commands/external-auth.ts
  packages/cli-test/src/cli/commands/function.ts
  packages/cli-test/src/cli/commands/manifest.ts
  packages/cli-test/src/cli/commands/platform.ts
  packages/cli-test/src/cli/commands/trigger.ts
  packages/cli-test/src/cli/shell.ts
  packages/cli-test/src/utils/custom-errors.ts
Labels: semver:major, pkg:cli-test

#1858 feat (cli-test): expose arbitrary apihost flag to underlying SlackCLIProcess class
  packages/cli-test/src/cli/cli-process.spec.ts
  packages/cli-test/src/cli/cli-process.ts
Labels: pkg:cli-test

#1860 fix (web-api): tweak type of `reply_broadcast` to be wider
  packages/web-api/src/types/request/chat.ts
  packages/web-api/test/types/methods/chat.test-d.ts
Labels: semver:patch, area:typescript, pkg:web-api

#1861 Publish `@slack/web-api@7.3.2`
  packages/web-api/package.json
Labels: semver:patch, area:typescript, pkg:web-api, release
