Repository slackapi/node-slack-sdk, pull requests merged in 2024-06, with the labels that each got.

#1804 cli-test: adding `shell` and `app.list` APIs, exposing QA environment flags, added more traces available in CLI v2.25.0
  packages/cli-test/src/cli/commands/app.ts
  packages/cli-test/src/cli/commands/auth.ts
  packages/cli-test/src/cli/commands/create.ts
  packages/cli-test/src/cli/index.ts
  packages/cli-test/src/index.ts
  packages/cli-test/src/utils/constants.ts
  packages/web-api/src/WebClient.ts
Labels: semver:minor, enhancement, draft, pkg:cli-test

#1806 Publish `@slack/cli-test@0.2.0+cli.2.25.0`
  packages/cli-test/package.json
Labels: release, pkg:cli-test

#1811 chore: update Github Actions badges syntax
  README.md
  docs/_packages/webhook.md
Labels: cla:signed

#1812 docs: update Typescript minimum version: v7 + link
  docs/_main/typescript.md
Labels: cla:signed

#1809 feat: allow using WebClient APIs without argument
  packages/web-api/src/types/helpers.ts
  packages/web-api/src/types/request/admin/apps.ts
  packages/web-api/src/types/request/admin/barriers.ts
  packages/web-api/src/types/request/admin/conversations.ts
  packages/web-api/src/types/request/admin/emoji.ts
  packages/web-api/src/types/request/admin/roles.ts
  packages/web-api/src/types/request/admin/teams.ts
  packages/web-api/src/types/request/admin/users.ts
  packages/web-api/src/types/request/admin/workflows.ts
  packages/web-api/src/types/request/api.ts
  packages/web-api/src/types/request/apps.ts
  packages/web-api/src/types/request/auth.ts
  packages/web-api/src/types/request/bots.ts
  packages/web-api/src/types/request/chat.ts
  packages/web-api/src/types/request/conversations.ts
  packages/web-api/src/types/request/dnd.ts
  packages/web-api/src/types/request/emoji.ts
  packages/web-api/src/types/request/openid.ts
  packages/web-api/src/types/request/reactions.ts
  packages/web-api/src/types/request/reminders.ts
  packages/web-api/src/types/request/rtm.ts
  packages/web-api/src/types/request/team.ts
  packages/web-api/src/types/request/usergroups.ts
  packages/web-api/test/types/methods/admin.apps.test-d.ts
  packages/web-api/test/types/methods/admin.barriers.test-d.ts
  packages/web-api/test/types/methods/admin.conversations.test-d.ts
  packages/web-api/test/types/methods/admin.emoji.test-d.ts
  packages/web-api/test/types/methods/admin.roles.test-d.ts
  packages/web-api/test/types/methods/admin.teams.test-d.ts
  packages/web-api/test/types/methods/admin.users.test-d.ts
  packages/web-api/test/types/methods/admin.workflows.test-d.ts
  packages/web-api/test/types/methods/api.test-d.ts
  packages/web-api/test/types/methods/apps.test-d.ts
  packages/web-api/test/types/methods/auth.test-d.ts
  packages/web-api/test/types/methods/bots.test-d.ts
  packages/web-api/test/types/methods/chat.test-d.ts
  packages/web-api/test/types/methods/conversations.test-d.ts
  packages/web-api/test/types/methods/dnd.test-d.ts
  packages/web-api/test/types/methods/emoji.test-d.ts
  packages/web-api/test/types/methods/openid.test-d.ts
  packages/web-api/test/types/methods/reactions.test-d.ts
  packages/web-api/test/types/methods/reminders.test-d.ts
  packages/web-api/test/types/methods/rtm.test-d.ts
  packages/web-api/test/types/methods/team.test-d.ts
  packages/web-api/test/types/methods/usergroups.test-d.ts
Labels: semver:patch, enhancement, area:typescript, pkg:web-api, auto-triage-skip, cla:signed

#1813 web-api: public canvas APIs
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/auth.ts
  packages/web-api/src/types/request/canvas.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/response/CanvasesAccessDeleteResponse.ts
  packages/web-api/src/types/response/CanvasesAccessSetResponse.ts
  packages/web-api/src/types/response/CanvasesCreateResponse.ts
  packages/web-api/src/types/response/CanvasesDeleteResponse.ts
  packages/web-api/src/types/response/CanvasesEditResponse.ts
  packages/web-api/src/types/response/CanvasesSectionsLookupResponse.ts
  packages/web-api/src/types/response/ConversationsCanvasesCreateResponse.ts
  packages/web-api/src/types/response/index.ts
  packages/web-api/test/types/methods/canvas.test-d.ts
Labels: semver:minor, enhancement, area:typescript, pkg:web-api

#1819 types: export helper union types
  packages/types/src/block-kit/blocks.ts
  packages/types/src/block-kit/composition-objects.ts
  packages/types/src/message-attachments.ts
  packages/types/src/views.ts
Labels: semver:minor, area:typescript, pkg:types

#1820 types: small refactor in views, jsdoc all view properties, add type tests
  packages/types/package.json
  packages/types/src/views.ts
  packages/types/test/views.test-d.ts
Labels: semver:patch, enhancement, area:typescript, pkg:types, auto-triage-skip

#1821 feat: user id map in MigrationExchangeResponse as map
  packages/web-api/src/types/response/MigrationExchangeResponse.ts
Labels: cla:signed

#1823 chore (types): small refactorings and two new helper types
  packages/types/src/block-kit/block-elements.ts
  packages/types/src/block-kit/blocks.ts
  packages/types/src/block-kit/composition-objects.ts
  packages/types/src/block-kit/extensions.ts
  packages/types/src/message-attachments.ts
  packages/web-api/src/types/request/chat.ts
  packages/webhook/src/IncomingWebhook.ts
Labels: semver:minor, area:typescript, pkg:types

#1826 feat(web-api): add new Slack Connect APIs `team.externalTeams.list` and `users.discoverableContacts.lookup`
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/request/team.ts
  packages/web-api/src/types/request/users.ts
  packages/web-api/src/types/response/TeamExternalTeamsListResponse.ts
  packages/web-api/src/types/response/index.ts
Labels: semver:minor, enhancement, pkg:web-api

#1828 Publish `@slack/web-api@7.2.0`
  packages/web-api/package.json
Labels: semver:minor, pkg:web-api, release

#1829 Publish `@slack/cli-test@0.2.1+cli.2.26.0`
  packages/cli-test/package.json
Labels: semver:patch, release, pkg:cli-test

#1830 ci: include node version 22 in the testing matrix
  .github/workflows/ci-build.yml
Labels: semver:patch, tests

#1833 web-api: update `files.info`, `files.list` `files.remote.list` and `team.externalTeams.list` response types
  packages/web-api/src/types/response/FilesInfoResponse.ts
  packages/web-api/src/types/response/FilesListResponse.ts
  packages/web-api/src/types/response/FilesRemoteListResponse.ts
  packages/web-api/src/types/response/TeamExternalTeamsListResponse.ts
Labels: semver:minor, area:typescript, pkg:web-api

#1835 cli-hooks(fix): remove environment variable requirements from the start hook
  packages/cli-hooks/src/start.js
  packages/cli-hooks/src/start.spec.js
Labels: bug, semver:patch, pkg:cli-hooks
