Repository slackapi/node-slack-sdk, pull requests merged in 2024-09, with the labels that each got.

#1913 chore: tsconfig skiplibcheck:true - dont typecheck dependency d.ts files
  packages/cli-test/tsconfig.json
  packages/logger/tsconfig.json
  packages/oauth/tsconfig.json
  packages/rtm-api/tsconfig.json
  packages/socket-mode/tsconfig.json
  packages/types/tsconfig.json
  packages/web-api/test/integration/ts-4.7-project/tsconfig.json
  packages/web-api/tsconfig.json
  packages/webhook/tsconfig.json
Labels: semver:patch, tests, area:typescript

#1912 chore: remove commented out old integration tests, support ref-docs
  .github/maintainers_guide.md
  integration-tests/.vscode/launch.json
  support/integration-tests/.gitignore
  support/integration-tests/README.md
  support/integration-tests/package.json
  support/integration-tests/proxy-test.js
  support/ref-docs/.gitignore
  support/ref-docs/models/.gitkeep
  support/ref-docs/package.json
  support/ref-docs/src/documenter.ts
  support/ref-docs/src/index.ts
  support/ref-docs/src/macros.ts
  support/ref-docs/src/package-parser.ts
  support/ref-docs/tsconfig.json
  support/ref-docs/types/rehype-stringify.d.ts
  support/ref-docs/types/remark-rehype.d.ts
Labels: docs

#1962 chore: dependabot ignore & grouping
  .github/dependabot.yml
Labels: dependencies

#1973 chore: isolate dependabot config
  .github/dependabot.yml
Labels: dependencies

#2007 chore: updates to example apps
  examples/legacy-sign-in-with-slack/app.js
  examples/legacy-sign-in-with-slack/package.json
  examples/oauth-v2/app.js
  examples/openid-connect/app.js
Labels: area:examples

#1843 web-api(feat): add support for `conversations.requestShared` `approve` , `deny` and `list` APIs
  packages/web-api/src/methods.ts
  packages/web-api/src/retry-policies.ts
  packages/web-api/src/types/request/admin/conversations.ts
  packages/web-api/src/types/request/admin/functions.ts
  packages/web-api/src/types/request/admin/users.ts
  packages/web-api/src/types/request/bookmarks.ts
  packages/web-api/src/types/request/canvas.ts
  packages/web-api/src/types/request/common.ts
  packages/web-api/src/types/request/conversations.ts
  packages/web-api/src/types/request/index.ts
  packages/web-api/src/types/response/ConversationsRequestSharedInviteApproveResponse.ts
  packages/web-api/src/types/response/ConversationsRequestSharedInviteDenyResponse.ts
  packages/web-api/src/types/response/index.ts
  packages/web-api/test/types/methods/conversations.test-d.ts
  packages/web-api/tsconfig.json
Labels: semver:minor, enhancement, pkg:web-api

#2009 Publish `@slack/web-api@7.4.0`
  packages/web-api/package.json
Labels: pkg:web-api, release

#2021 `MessageEvent` incorrectly references the Node global MessageEvent type. #2020
  packages/types/src/events/index.ts
  packages/types/src/events/message.ts
Labels: bug, pkg:types, cla:signed

#2022 types(test): add a test to not mix up built-in node `MessageEvent` type
  packages/types/src/block-kit/composition-objects.ts
  packages/types/src/block-kit/extensions.ts
  packages/types/test/events/message.test-d.ts
  packages/types/tsconfig.json
Labels: semver:patch, tests, area:typescript, pkg:types

#2023 Publish `@slack/types@2.13.1`
  packages/types/package.json
Labels: pkg:types, release

#2035 Publish @slack/web-api@7.5.0
  packages/web-api/package.json
Labels: pkg:web-api, release

#2036 Publish @slack/types@2.14.0
  packages/types/package.json
Labels: pkg:types, release

#2039 oauth(docs): replace hardcoded state secrets with process env variables
  docs/content/packages/oauth.md
  examples/oauth-v1/README.md
  examples/oauth-v1/app.js
  examples/oauth-v2/README.md
  examples/oauth-v2/app.js
  packages/oauth/README.md
Labels: docs, pkg:oauth

#2042 feat (web-api): Add support for assistant.* API
  packages/web-api/src/methods.ts
  packages/web-api/src/response/AssistantThreadsSetStatusResponse.ts
  packages/web-api/src/response/AssistantThreadsSetSuggestedPromptsResponse.ts
  packages/web-api/src/response/AssistantThreadsSetTitleResponse.ts
  packages/web-api/src/response/index.ts
Labels: semver:minor, enhancement, pkg:web-api

#2043 web-api(chore): release @slack/web-api@6.13.0
  packages/web-api/package.json
Labels: semver:minor, pkg:web-api, release

#2044 oauth(fix): remove double quotes from the default 'add to slack' img alt text
  packages/oauth/src/default-render-html-for-install-path.ts
Labels: bug, semver:patch, pkg:oauth
