Repository slackapi/node-slack-sdk, pull requests merged in 2024-05, with the labels that each got.

#1783 types: Add "slack_file" object to "image" block/element types
  packages/types/src/block-kit/block-elements.ts
  packages/types/src/block-kit/blocks.ts
  packages/types/src/block-kit/composition-objects.ts
Labels: area:typescript, pkg:types, cla:signed

#1786 providing a way to disable message content being logged
  packages/web-api/src/WebClient.spec.js
  packages/web-api/src/WebClient.ts
  packages/web-api/src/errors.ts
Labels: semver:minor, enhancement, pkg:web-api, cla:signed

#1789 add CLI test utility bindings
  .github/maintainers_guide.md
  .github/workflows/ci-build.yml
  lint-configs/.eslintrc.js
  packages/cli-test/.c8rc.json
  packages/cli-test/.eslintignore
  packages/cli-test/.eslintrc.js
  packages/cli-test/.gitignore
  packages/cli-test/.mocharc.json
  packages/cli-test/LICENSE
  packages/cli-test/README.md
  packages/cli-test/package.json
  packages/cli-test/src/cli/cli-process.spec.ts
  packages/cli-test/src/cli/cli-process.ts
  packages/cli-test/src/cli/command-error.ts
  packages/cli-test/src/cli/commands/app.ts
  packages/cli-test/src/cli/commands/auth.ts
  packages/cli-test/src/cli/commands/collaborator.ts
  packages/cli-test/src/cli/commands/create.ts
  packages/cli-test/src/cli/commands/env.ts
  packages/cli-test/src/cli/commands/external-auth.ts
  packages/cli-test/src/cli/commands/function.ts
  packages/cli-test/src/cli/commands/manifest.ts
  packages/cli-test/src/cli/commands/platform.ts
  packages/cli-test/src/cli/commands/trigger.ts
  packages/cli-test/src/cli/index.ts
  packages/cli-test/src/cli/shell.ts
  packages/cli-test/src/index.spec.ts
  packages/cli-test/src/index.ts
  packages/cli-test/src/utils/constants.ts
  packages/cli-test/src/utils/custom-errors.ts
  packages/cli-test/src/utils/logger.ts
  packages/cli-test/src/utils/types.ts
  packages/cli-test/tsconfig.eslint.json
  packages/cli-test/tsconfig.json
Labels: semver:patch, pkg:cli-test

#1791 Publish `@slack/cli-test@0.0.1`
  packages/cli-test/package.json
Labels: semver:patch, release, pkg:cli-test

#1792 cli-test: ensure skipping update is truly the default
  packages/cli-test/src/cli/cli-process.spec.ts
  packages/cli-test/src/cli/cli-process.ts
  packages/cli-test/src/cli/shell.ts
Labels: semver:patch, pkg:cli-test

#1793 cli-test: more async-friendly / event-driven approach to process monitoring/management
  packages/cli-test/src/cli/cli-process.spec.ts
  packages/cli-test/src/cli/cli-process.ts
  packages/cli-test/src/cli/commands/platform.ts
  packages/cli-test/src/cli/shell.ts
Labels: semver:patch, pkg:cli-test

#1794 cli-test: more commands and tests
  packages/cli-test/src/cli/commands/app.ts
  packages/cli-test/src/cli/commands/platform.ts
  packages/cli-test/src/cli/index.ts
  packages/cli-test/src/cli/shell.spec.ts
  packages/cli-test/src/cli/shell.ts
Labels: semver:minor, pkg:cli-test

#1795 cli-test(trace): include test trace constants for 'datastore count'
  packages/cli-test/src/utils/constants.ts
Labels: semver:minor, enhancement, pkg:cli-test

#1797 cli-test: small internal refactor to use new app.list command
  packages/cli-test/src/cli/index.spec.ts
  packages/cli-test/src/cli/index.ts
Labels: semver:patch, pkg:cli-test

#1796 Publish `@slack/cli-test@0.1.0`
  packages/cli-test/package.json
Labels: semver:minor, release, pkg:cli-test

#1798 cli-test: add ability to invoke arbitrary CLI commands
  packages/cli-test/README.md
  packages/cli-test/src/index.ts
Labels: semver:minor, enhancement, pkg:cli-test

#1799 cli-test: expose --slackdev flag as `qa` option to all commands
  packages/cli-test/src/cli/commands/app.ts
  packages/cli-test/src/cli/commands/collaborator.ts
  packages/cli-test/src/cli/commands/env.ts
  packages/cli-test/src/cli/commands/external-auth.ts
  packages/cli-test/src/cli/commands/function.ts
  packages/cli-test/src/cli/commands/manifest.ts
  packages/cli-test/src/cli/commands/platform.ts
  packages/cli-test/src/cli/commands/trigger.ts
Labels: semver:minor, enhancement, pkg:cli-test

#1805 web-api(docs): fix the sunset year for the files.upload method
  docs/_packages/web_api.md
Labels: docs, semver:patch, pkg:web-api
