Repository slackapi/node-slack-sdk, pull requests merged in 2024-01, with the labels that each got.

#1710 Upgrade Axios web-api to 1.6.3
  packages/web-api/package.json
Labels: security, pkg:web-api

#1711 Release Web API 6.11.1 w/ new axios
  packages/web-api/package.json
Labels: release

#1712 webhook: Bumping axios to 1.6.3 to resolve security vulnerability
  packages/webhook/package.json
Labels: semver:patch, security, pkg:webhook, release

#1716 Update axios to 1.6.5
  packages/web-api/package.json
Labels: cla:signed

#1718 Bump axios to 1.6.5 (another security vuln), publish `@slack/web-api` v6.11.2
  packages/web-api/package.json
Labels: semver:patch, security, pkg:web-api, release

#1720 rtm-api, socket-mode, oauth: Bump web-api to latest v6.11.2 to address underlying axios security vulnerabilities
  packages/oauth/package.json
  packages/rtm-api/package.json
  packages/socket-mode/package.json
Labels: semver:patch, security, pkg:rtm-api, pkg:oauth, pkg:socket-mode

#1721 Publish patch versions of oauth, socket-mode and rtm-api to address downstream axios security vulns
  packages/oauth/package.json
  packages/rtm-api/package.json
  packages/socket-mode/package.json
Labels: semver:patch, security, pkg:rtm-api, pkg:oauth, pkg:socket-mode, release

#1723 web-api: Add support for overriding token when using `fileUploadV2`
  packages/web-api/src/WebClient.spec.js
  packages/web-api/src/WebClient.ts
  packages/web-api/src/file-upload.ts
  packages/web-api/src/types/request/files.ts
Labels: bug, semver:patch

#1724 web-api: basic module system integration tests, removing unused bits, dependency updates
  LICENSE
  packages/web-api/deno-shims/buffer-shim.js
  packages/web-api/deno-shims/qs-shim.js
  packages/web-api/deno-shims/util-shim.js
  packages/web-api/deno-shims/xhr-shim.js
  packages/web-api/deno-shims/zlib-shim.js
  packages/web-api/package.json
  packages/web-api/src/WebClient.spec.js
  packages/web-api/src/WebClient.ts
  packages/web-api/src/file-upload.ts
  packages/web-api/src/index.ts
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/files.ts
  packages/web-api/test/integration/commonjs-project/index.js
  packages/web-api/test/integration/commonjs-project/package.json
  packages/web-api/test/integration/esm-project/index.mjs
  packages/web-api/test/integration/esm-project/package.json
  packages/web-api/tsconfig.json
Labels: semver:major, enhancement, pkg:web-api

#1726 Publish `@slack/web-api@7.0.0`
  packages/web-api/package.json
Labels: semver:major, pkg:web-api, release

#1727 Prep for new major version of oauth library
  packages/oauth/package.json
  packages/oauth/src/install-provider.ts
Labels: semver:major, pkg:oauth

#1728 Publish `@slack/oauth@3.0.0`
  packages/oauth/package.json
Labels: semver:major, pkg:oauth, release

#1729 web-api: re-export method argument types
  packages/web-api/src/index.ts
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/index.ts
Labels: bug, semver:patch, area:typescript, pkg:web-api

#1730 lint: enforce max line length / max items per line / one item per line for imports using import-newlines eslint plugin
  lint-configs/.eslintrc.js
  packages/logger/package.json
  packages/oauth/package.json
  packages/rtm-api/package.json
  packages/socket-mode/package.json
  packages/types/package.json
  packages/types/src/block-kit/block-elements.ts
  packages/types/src/block-kit/blocks.ts
  packages/web-api/package.json
  packages/web-api/src/WebClient.ts
  packages/web-api/src/file-upload.ts
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/admin/conversations.ts
  packages/web-api/src/types/request/admin/users.ts
  packages/web-api/src/types/request/chat.ts
  packages/web-api/src/types/request/conversations.ts
  packages/web-api/src/types/request/files.ts
  packages/web-api/src/types/request/reactions.ts
  packages/web-api/src/types/request/stars.ts
  packages/web-api/src/types/request/team.ts
  packages/webhook/package.json
Labels: semver:patch, tests, pkg:web-api, pkg:rtm-api, pkg:webhook, pkg:logger, pkg:types, pkg:oauth, pkg:socket-mode

#1731 Publish `@slack/web-api@7.0.1`
  packages/web-api/package.json
Labels: semver:patch, area:typescript, pkg:web-api, release

#1732 socket-mode: prep for major release
  packages/socket-mode/.nycrc.json
  packages/socket-mode/README.md
  packages/socket-mode/package.json
  packages/socket-mode/src/SocketModeClient.spec.js
  packages/socket-mode/src/SocketModeClient.ts
  packages/socket-mode/test/integration.spec.js
Labels: semver:major, pkg:socket-mode

#1735 socket-mode: fix bug when `apps.connections.open` returns an error and won't retry
  packages/socket-mode/src/SocketModeClient.ts
  packages/socket-mode/test/integration.spec.js
Labels: bug, semver:patch, pkg:socket-mode

#1714 Introduce a `@slack/cli-hooks` package that implements Slack CLI hooks
  .github/workflows/ci-build.yml
  packages/cli-hooks/.c8rc.json
  packages/cli-hooks/.eslintignore
  packages/cli-hooks/.eslintrc.cjs
  packages/cli-hooks/.gitignore
  packages/cli-hooks/LICENSE
  packages/cli-hooks/README.md
  packages/cli-hooks/jsconfig.json
  packages/cli-hooks/package.json
  packages/cli-hooks/src/check-update.js
  packages/cli-hooks/src/check-update.spec.js
  packages/cli-hooks/src/get-hooks.js
  packages/cli-hooks/src/get-hooks.spec.js
  packages/cli-hooks/src/get-manifest.js
  packages/cli-hooks/src/get-manifest.spec.js
  packages/cli-hooks/src/protocols.js
  packages/cli-hooks/src/protocols.spec.js
  packages/cli-hooks/src/start.js
  packages/cli-hooks/src/start.spec.js
Labels: semver:major, enhancement, release, pkg:cli-hooks

#1737 web-api: prevent apps.event.authorizations.list API from ever sending token in the body
  packages/web-api/src/WebClient.spec.js
  packages/web-api/src/WebClient.ts
Labels: semver:patch, pkg:web-api
