Repository slackapi/node-slack-sdk, pull requests merged in 2024-12, with the labels that each got.

#2116 chore(deps): bump minimum axios version for web-api and webhook to avoid security vuln
  packages/web-api/package.json
  packages/webhook/package.json
Labels: semver:patch, security, pkg:web-api, pkg:webhook, dependencies

#2118 Release: @slack/webhook@7.0.4, @slack/web-api@7.8.0
  packages/web-api/package.json
  packages/webhook/package.json
Labels: pkg:web-api, pkg:webhook, release

#2099 socket-mode: Handling WS errors during handshake
  packages/socket-mode/package.json
  packages/socket-mode/src/SlackWebSocket.spec.ts
  packages/socket-mode/src/SlackWebSocket.ts
  packages/socket-mode/src/SocketModeClient.ts
  packages/socket-mode/src/errors.ts
  packages/socket-mode/test/integration.spec.js
Labels: bug, discussion, server-side-issue, draft, pkg:socket-mode, backend

#2119 Update webhook and web-api dependencies in oauth, rtm-api, and socket-mode
  packages/oauth/package.json
  packages/rtm-api/package.json
  packages/socket-mode/package.json
Labels: semver:patch, pkg:rtm-api, pkg:oauth, pkg:socket-mode, dependencies

#2120 Release: @slack/socket-mode@2.0.3, @slack/oauth@3.0.2, @slack/rtm-api@7.0.2
  packages/oauth/package.json
  packages/rtm-api/package.json
  packages/socket-mode/package.json
Labels: pkg:rtm-api, pkg:oauth, pkg:socket-mode, release

#2122 build: allow breaking change when updating typedoc for documentation builds
  .github/dependabot.yml
  docs/package.json
Labels: docs, semver:patch, dependencies

#2125 docs: replace redirected or missing links to sdk documentation
  docs/content/index.md
  docs/content/packages/oauth.md
  docs/content/packages/rtm-api.md
  docs/content/packages/web-api.md
  docs/content/packages/webhook.md
  packages/cli-hooks/package.json
  packages/logger/package.json
  packages/oauth/README.md
  packages/oauth/package.json
  packages/rtm-api/README.md
  packages/rtm-api/package.json
  packages/socket-mode/package.json
  packages/types/package.json
  packages/web-api/README.md
  packages/web-api/package.json
  packages/web-api/src/methods.ts
  packages/web-api/src/types/request/files.ts
  packages/webhook/package.json
Labels: docs, semver:patch
