Repository slackapi/node-slack-sdk, pull requests merged in 2025-03, with the labels that each got.

#2164 fix: configure dependabot to group react deps
  .github/dependabot.yml
Labels: docs, dependencies, github_actions

#2174 chore(webhook): release @slack/webhook@7.0.5
  packages/webhook/package.json
Labels: semver:patch, pkg:webhook, release

#2172 fix(web-api): bump axios to 1.8.3 to address CVE-2025-27152
  packages/web-api/package.json
Labels: semver:patch, security, pkg:web-api, dependencies

#2175 ci: cancel test jobs with a timeout after running for four minutes
  .github/workflows/ci-build.yml
Labels: tests, github_actions

#2178 test: upload individual test results to codecov to gather stats
  .github/workflows/ci-build.yml
  codecov.yml
  packages/cli-hooks/package.json
  packages/cli-hooks/test/.c8rc.json
  packages/cli-hooks/test/.mocharc.json
  packages/cli-hooks/test/.reports.json
  packages/cli-test/.mocharc.json
  packages/cli-test/package.json
  packages/cli-test/test/.c8rc.json
  packages/cli-test/test/.mocharc.json
  packages/cli-test/test/.reports.json
  packages/logger/.mocharc.json
  packages/logger/package.json
  packages/logger/test/.c8rc.json
  packages/logger/test/.mocharc.json
  packages/logger/test/.reports.json
  packages/oauth/.mocharc.json
  packages/oauth/package.json
  packages/oauth/test/.c8rc.json
  packages/oauth/test/.mocharc.json
  packages/oauth/test/.reports.json
  packages/rtm-api/.gitignore
  packages/socket-mode/.gitignore
  packages/socket-mode/package.json
  packages/socket-mode/test/.c8rc.json
  packages/socket-mode/test/.mocharc.json
  packages/socket-mode/test/.reports.json
  packages/web-api/.gitignore
  packages/web-api/.mocharc.json
  packages/web-api/package.json
  packages/web-api/test/.c8rc.json
  packages/web-api/test/.mocharc.json
  packages/web-api/test/.reports.json
  packages/webhook/.mocharc.json
  packages/webhook/package.json
  packages/webhook/test/.c8rc.json
  packages/webhook/test/.mocharc.json
  packages/webhook/test/.reports.json
Labels: tests, github_actions

#2187 test(socket-mode): assert a certain amount of close events happen after disconnecting
  packages/socket-mode/test/integration.spec.js
Labels: tests, pkg:socket-mode

#2176 feat(web-api): add configs to toggle absolute url usage in dynamic api calls
  docs/content/packages/web-api.md
  packages/web-api/src/WebClient.spec.ts
  packages/web-api/src/WebClient.ts
Labels: semver:minor, enhancement, pkg:web-api

#2191 chore(web-api): release @slack/web-api@7.9.0
  packages/web-api/package.json
Labels: semver:minor, pkg:web-api, release

#2197 test(web-api): use channel_id instead of channels with files upload v2
  packages/web-api/src/WebClient.spec.ts
Labels: tests, pkg:web-api

#2198 test: attempt to stabilize socket mode unit tests
  packages/socket-mode/test/integration.spec.js
Labels: tests, pkg:socket-mode

#2196 fix(web-api): complete file upload v2 calls if absolute urls are not allowed
  packages/web-api/src/WebClient.spec.ts
  packages/web-api/src/WebClient.ts
Labels: bug, semver:patch, tests, pkg:web-api

#2193 chore(oauth): bump @slack/web-api from 7.8.0 to 7.9.1
  packages/oauth/package.json
Labels: semver:patch, pkg:oauth, dependencies

#2209 chore(oauth): release @slack/oauth@3.0.3
  packages/oauth/package.json
Labels: semver:patch, pkg:oauth, release

#2194 chore(rtm-api): bump @slack/web-api from 7.8.0 to 7.9.1
  packages/rtm-api/package.json
Labels: semver:patch, pkg:rtm-api, dependencies

#2210 chore(rtm-api): release @slack/rtm-api@7.0.3
  packages/rtm-api/package.json
Labels: semver:patch, pkg:rtm-api, release

#2195 chore(socket-mode): bump @slack/web-api from 7.8.0 to 7.9.1
  packages/socket-mode/package.json
Labels: semver:patch, pkg:socket-mode, dependencies

#2211 chore(socket-mode): release @slack/socket-mode@2.0.4
  packages/socket-mode/package.json
Labels: semver:patch, pkg:socket-mode, release
