Repository slackapi/node-slack-sdk, pull requests merged in 2025-05, with the labels that each got.

#2243 fix: add trailing slash to slackApiUrl if none is provided
  packages/web-api/src/WebClient.spec.ts
  packages/web-api/src/WebClient.ts
Labels: semver:patch, pkg:web-api

#2244 Update web-api response data types (as of 2025-05-17)
  packages/web-api/src/types/response/AdminConversationsSearchResponse.ts
  packages/web-api/src/types/response/AdminFunctionsPermissionsLookupResponse.ts
  packages/web-api/src/types/response/AppsManifestCreateResponse.ts
  packages/web-api/src/types/response/ChatPostMessageResponse.ts
  packages/web-api/src/types/response/ChatScheduleMessageResponse.ts
  packages/web-api/src/types/response/ChatUpdateResponse.ts
  packages/web-api/src/types/response/ConversationsHistoryResponse.ts
  packages/web-api/src/types/response/ConversationsJoinResponse.ts
  packages/web-api/src/types/response/ConversationsKickResponse.ts
  packages/web-api/src/types/response/ConversationsListResponse.ts
  packages/web-api/src/types/response/ConversationsOpenResponse.ts
  packages/web-api/src/types/response/ConversationsRepliesResponse.ts
  packages/web-api/src/types/response/FilesCompleteUploadExternalResponse.ts
  packages/web-api/src/types/response/FilesInfoResponse.ts
  packages/web-api/src/types/response/FilesListResponse.ts
  packages/web-api/src/types/response/FilesRemoteAddResponse.ts
  packages/web-api/src/types/response/FilesRemoteInfoResponse.ts
  packages/web-api/src/types/response/FilesRemoteListResponse.ts
  packages/web-api/src/types/response/FilesRemoteShareResponse.ts
  packages/web-api/src/types/response/FilesRemoteUpdateResponse.ts
  packages/web-api/src/types/response/FilesRevokePublicURLResponse.ts
  packages/web-api/src/types/response/FilesSharedPublicURLResponse.ts
  packages/web-api/src/types/response/FilesUploadResponse.ts
  packages/web-api/src/types/response/PinsListResponse.ts
  packages/web-api/src/types/response/ReactionsGetResponse.ts
  packages/web-api/src/types/response/ReactionsListResponse.ts
  packages/web-api/src/types/response/RtmStartResponse.ts
  packages/web-api/src/types/response/SearchAllResponse.ts
  packages/web-api/src/types/response/SearchFilesResponse.ts
  packages/web-api/src/types/response/SearchMessagesResponse.ts
  packages/web-api/src/types/response/UsergroupsCreateResponse.ts
  packages/web-api/src/types/response/UsergroupsDisableResponse.ts
  packages/web-api/src/types/response/UsergroupsEnableResponse.ts
  packages/web-api/src/types/response/UsergroupsListResponse.ts
  packages/web-api/src/types/response/UsergroupsUpdateResponse.ts
  packages/web-api/src/types/response/UsergroupsUsersUpdateResponse.ts
  packages/web-api/src/types/response/UsersConversationsResponse.ts
  packages/web-api/src/types/response/UsersInfoResponse.ts
  packages/web-api/src/types/response/ViewsOpenResponse.ts
  packages/web-api/src/types/response/ViewsPublishResponse.ts
  packages/web-api/src/types/response/ViewsPushResponse.ts
  packages/web-api/src/types/response/ViewsUpdateResponse.ts
  scripts/code_generator.rb
  scripts/generate-web-api-types.sh
  scripts/package.json
Labels: cla:signed

#2247 chore(web-api): release @slack/web-api@7.9.2
  packages/web-api/package.json
Labels: semver:patch, pkg:web-api, release

#2246 ci: pin actions workflow step hashes and use minimum permissions
  .github/workflows/ci-build.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/triage-issues.yml
Labels: security, dependencies, github_actions
