Repository slackapi/node-slack-sdk, pull requests merged in 2025-02, with the labels that each got.

#2137 Add expand prfoperty to section block type
  packages/types/src/block-kit/blocks.ts
Labels: enhancement, area:typescript, pkg:types

#2148 fix(cli-test): remove the trailing newline from parsed cli outputs
  packages/cli-test/src/cli/shell.spec.ts
  packages/cli-test/src/cli/shell.ts
Labels: bug, semver:patch, pkg:cli-test

#2147 feat(cli-test): include a verbose global option for cli commands
  packages/cli-test/src/cli/cli-process.spec.ts
  packages/cli-test/src/cli/cli-process.ts
  packages/cli-test/src/cli/commands/auth.ts
Labels: semver:minor, pkg:cli-test

#2149 chore(cli-test): release @slack/cli-test@2.1.0+cli2.32.2
  packages/cli-test/package.json
Labels: semver:minor, release, pkg:cli-test

#2152 feat(cli-hooks): output node warnings to stderr for debugging outputs
  packages/cli-hooks/src/get-hooks.js
  packages/cli-hooks/src/get-hooks.spec.js
Labels: semver:patch, enhancement, pkg:cli-hooks

#2153 feat(cli-hooks): exit the start process with the subprocess exit code
  packages/cli-hooks/src/start.js
  packages/cli-hooks/src/start.spec.js
Labels: semver:minor, enhancement, pkg:cli-hooks

#2154 chore(cli-hooks): release @slack/cli-hooks@1.2.0
  packages/cli-hooks/package.json
Labels: semver:minor, release, pkg:cli-hooks
