Repository slackapi/node-slack-sdk, pull requests merged in 2025-08, with the labels that each got.

#2332 chore(deps): bump axios from ^1.8.3 to ^1.11.0 in @slack/web-api
  packages/web-api/package.json
Labels: semver:patch, pkg:web-api, cla:signed, dependencies

#2330 feat(web-api): add markdown_text property to chat.{postEphemeral|postMessage|scheduleMessage|update} methods
  packages/web-api/src/WebClient.spec.ts
  packages/web-api/src/WebClient.ts
  packages/web-api/src/types/request/chat.ts
  packages/web-api/test/types/methods/chat.test-d.ts
Labels: semver:patch, enhancement, pkg:web-api

#2335 chore(deps): bump axios from ^1.8.3 to ^1.11.0 in @slack/webhook
  examples/express-all-interactions/package.json
  packages/interactive-messages/package.json
  packages/webhook/package.json
Labels: semver:patch, pkg:interactive-messages (deprecated), pkg:webhook, area:examples, dependencies

#2339 chore(types): release @slack/types@2.16.0
  docs/english/reference/types/index.md
  packages/types/package.json
Labels: semver:minor, pkg:types, release

#2338 chore(webhook): release @slack/webhook@7.0.6
  docs/english/reference/webhook/index.md
  docs/english/reference/webhook/interfaces/CodedError.md
  docs/english/reference/webhook/interfaces/IncomingWebhookHTTPError.md
  docs/english/reference/webhook/interfaces/IncomingWebhookRequestError.md
  packages/webhook/package.json
Labels: semver:patch, pkg:webhook, release

#2340 chore(types): release @slack/web-api@7.10.0
  docs/english/reference/web-api/classes/Methods.md
  docs/english/reference/web-api/index.md
  docs/english/reference/web-api/interfaces/Action.md
  docs/english/reference/web-api/interfaces/Actionable.md
  docs/english/reference/web-api/interfaces/AdminAuthPolicyGetEntitiesArguments.md
  docs/english/reference/web-api/interfaces/AdminFunctionsPermissionsSetArguments.md
  docs/english/reference/web-api/interfaces/AdminInviteRequestsApproveArguments.md
  docs/english/reference/web-api/interfaces/AdminInviteRequestsApprovedListArguments.md
  docs/english/reference/web-api/interfaces/AdminInviteRequestsDeniedListArguments.md
  docs/english/reference/web-api/interfaces/AdminInviteRequestsDenyArguments.md
  docs/english/reference/web-api/interfaces/AdminInviteRequestsListArguments.md
  docs/english/reference/web-api/interfaces/AdminUsersAssignArguments.md
  docs/english/reference/web-api/interfaces/AppsManifestValidateArguments.md
  docs/english/reference/web-api/interfaces/AppsUninstallArguments.md
  docs/english/reference/web-api/interfaces/BookmarksEditArguments.md
  docs/english/reference/web-api/interfaces/CallsAddArguments.md
  docs/english/reference/web-api/interfaces/CallsUpdateArguments.md
  docs/english/reference/web-api/interfaces/CanvasesAccessDeleteArguments.md
  docs/english/reference/web-api/interfaces/CanvasesAccessSetArguments.md
  docs/english/reference/web-api/interfaces/ChatDeleteArguments.md
  docs/english/reference/web-api/interfaces/ChatDeleteScheduledMessageArguments.md
  docs/english/reference/web-api/interfaces/ChatGetPermalinkArguments.md
  docs/english/reference/web-api/interfaces/ChatMeMessageArguments.md
  docs/english/reference/web-api/interfaces/Confirm.md
  docs/english/reference/web-api/interfaces/ConversationsExternalInvitePermissionsSetArguments.md
  docs/english/reference/web-api/interfaces/ConversationsRequestSharedInviteApproveArguments.md
  docs/english/reference/web-api/interfaces/Dialog.md
  docs/english/reference/web-api/interfaces/OAuthV2ExchangeArguments.md
  docs/english/reference/web-api/interfaces/UsergroupsUpdateArguments.md
  docs/english/reference/web-api/interfaces/WorkflowStepView.md
  docs/english/reference/web-api/type-aliases/ChatPostEphemeralArguments.md
  docs/english/reference/web-api/type-aliases/ChatPostMessageArguments.md
  docs/english/reference/web-api/type-aliases/ChatScheduleMessageArguments.md
  docs/english/reference/web-api/type-aliases/ChatScheduledMessagesListArguments.md
  docs/english/reference/web-api/type-aliases/ChatUnfurlArguments.md
  docs/english/reference/web-api/type-aliases/ChatUpdateArguments.md
  docs/english/reference/web-api/type-aliases/SharedChannelInviteAccepted.md
  docs/english/reference/web-api/type-aliases/SharedChannelInviteApproved.md
  docs/english/reference/web-api/type-aliases/SharedChannelInviteDeclined.md
  docs/english/reference/web-api/type-aliases/SharedChannelInviteReceived.md
  docs/english/reference/web-api/type-aliases/SubteamCreated.md
  docs/english/reference/web-api/type-aliases/SubteamMembersChanged.md
  packages/web-api/package.json
Labels: semver:minor, pkg:web-api, release

#2337 docs: autogenerate package reference to language specific paths
  .github/maintainers_guide.md
  packages/cli-test/typedoc.json
  packages/logger/typedoc.json
  packages/oauth/typedoc.json
  packages/rtm-api/typedoc.json
  packages/socket-mode/typedoc.json
  packages/types/typedoc.json
  packages/web-api/typedoc.json
  packages/webhook/typedoc.json
Labels: docs

#2341 chore(oauth): bump @slack/web-api to 7.10.0
  packages/oauth/package.json
Labels: semver:patch, pkg:oauth, dependencies

#2342 chore(rtm-api): bump @slack/web-api to 7.10.0
  packages/rtm-api/package.json
Labels: semver:patch, pkg:rtm-api, dependencies

#2343 chore(socket-mode): bump @slack/web-api to 7.10.0
  packages/socket-mode/package.json
Labels: semver:patch, pkg:socket-mode, dependencies

#2345 chore(oauth): release @slack/oauth@3.0.4
  docs/english/reference/oauth/index.md
  packages/oauth/package.json
Labels: semver:patch, pkg:socket-mode, release

#2346 chore(socket-mode): release @slack/socket-mode@2.0.5
  docs/english/reference/socket-mode/index.md
  packages/socket-mode/package.json
Labels: semver:patch, pkg:socket-mode, release

#2347 chore(rtm-api): release @slack/rtm-api@7.0.4
  docs/english/reference/rtm-api/index.md
  packages/rtm-api/package.json
Labels: semver:patch, pkg:rtm-api, release
