Repository slackapi/node-slack-sdk, pull requests merged in 2025-07, with the labels that each got.

#2298 docs(types): fix markdown block type annotation
  packages/types/src/block-kit/blocks.ts
Labels: docs, pkg:types

#2297 fix(web-api): remove bounds on assistant.threads.setSuggestedPrompts prompts count in types
  packages/web-api/src/types/request/assistant.ts
Labels: bug, semver:patch, area:typescript, pkg:web-api

#2302 chore: adds webhook package to dependabot.yml
  .github/dependabot.yml
Labels: pkg:webhook, dependencies

#2314 bump form-data to at least 4.0.4. to resolve CVE-2025-7783
  packages/web-api/package.json
Labels: cla:signed
